//_variables

//_reboot

//_grid

//_mixins

//_theme

//_layout
.layui-fl {
  float: left!important;
}
.layui-fr {
  float: right!important;
}

// plugins
.mCSB_inside>.mCSB_container{margin-right: 0;}