
/*活动提醒*/
.index-panel-tips .layui-tips {
  padding: 16px;
  position: relative;
  line-height: 24px;
  font-size: 14px;
  background-color: #fff;
}
.layui-tips span i {
  margin-right: 5px;
  font-size: 20px;
  vertical-align: -2px;
}
.layui-tips-scroll {
  position: absolute;
  left: 120px;
  right: 16px;
  top: 16px;
}
.layui-tips-scroll .tempWrap {
  width: 100%!important;
}
.layui-tips-scroll ul {overflow:hidden; zoom:1;}
.layui-tips-scroll ul li {margin-right:20px; float:left; height:24px; line-height:24px;  text-align:left; _display:inline; width:auto !important;}
.layui-tips-scroll ul li a {
  padding-left: 50px;
}

  /*菜单*/
.index-panel-model .layui-model {
  padding: 16px 30px;
  height: 80px;
  line-height: 48px;
  font-size: 16px;
  background-color: #fff;
  box-sizing: border-box;
}
.index-panel-model .layui-model i {
  float: right;
  font-size: 26px;
  color: #303030;
}
.index-panel-list {
  margin-bottom: 10px;
}
.index-panel-list .layui-card-header {
  padding: 0 16px;
  height: 48px;
  line-height: 48px;
  font-size: 14px;
  border-bottom: 1px solid #e8e8e8;
}
.index-panel-list .layui-card-body {
  height: 240px;
}
.index-panel-list .layui-tab-title {
  height: 48px;
  line-height: 48px;
}
.index-panel-list .layui-tab-title li {
  padding: 0 16px;
  height: 48px;
  line-height: 48px;
  font-size: 14px;
}
.index-panel-list .layui-tab-title .layui-this:after {
  height: 49px;
}
.index-panel-list .layui-tab-content {
  height: 240px;
}

/*列表*/
.layui-list a {
  display: block;
  overflow: hidden;
}
.layui-list-header {
  height: 40px;
  line-height: 40px;
}
.layui-list-header a {
  display: block;
  font-size: 14px;
  color: #333;
  overflow: hidden;
}
.layui-list-header a:hover {
  color: #333;
}
.layui-list-header {
  padding: 0 16px;
}
.layui-list-header a span {
  padding-left: 5px;
}
.layui-list-content {
  height: 180px;
  overflow: hidden;
}
.layui-list-content ul li a {
  display: block;
  height: 36px;
  line-height: 36px;
  overflow: hidden;
}
.layui-list-col1 {
  dl a span {
    padding-right: 5px;
    float: left;
    width: 100%;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
  }
}
.layui-list-col2 {
  dl a span {
    padding-right: 5px;
    float: left;
    width: 80%;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
  }
  dl a span+span {
    float: right;
    width: auto;
  }
  .layui-list-header a span+span {
    padding-right: 10px;
  }
}
.layui-list-col3 {
  dl a span {
    padding-right: 5px;
    float: left;
    width: 50%;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
  }
  dl a span+span {
    width: 30%;
  }
  dl a span+span+span {
    float: right;
    width: auto;
  }
  .layui-list-header a span+span+span {
    padding-right: 5px;
  }
}
.layui-list-col4 {
  dl a span {
    padding-right: 5px;
    float: left;
    width: 40%;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
  }
  dl a span+span {
    width: 20%;
  }
  dl a span+span+span {
    width: 20%;
  }
  dl a span+span+span+span {
    float: right;
    width: auto;
  }
  .layui-list-header a span+span+span+span {
    padding-right: 10px;
  }
}
.layui-list-col5 {
  dl a span {
    padding-right: 5px;
    float: left;
    width: 20%;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
  }
  dl a span+span+span+span {
    padding-left: 20px;
    width: 10%;
  }
  dl a span+span+span+span+span {
    width: 30%;
    text-align: right;
  }
  .layui-list-header a span+span+span+span+span {
    padding-right: 10px;
    text-align: right;
  }
}
/*轮播*/
.layui-carousel-container {
  height: 100%;
}
.layui-carousel-container .layui-carousel {
  background-color: transparent;
}
.layui-carousel-container .layui-carousel-ind {
  position: absolute;
  top: -41px!important;
  text-align: right;
}
.layui-carousel-container .layui-carousel-ind ul {
  background: 0 0!important;
}
.layui-carousel-container .layui-carousel-ind li {
  background-color: #e2e2e2
}
.layui-carousel-container .layui-carousel-ind li:hover {
  background-color: #c2c2c2
}

.layui-carousel-container .layui-carousel-ind li.layui-this {
  background-color: #999
}
.layui-carousel-container .layui-carousel>[carousel-item]>* {
  background-color: #fff;
}
/*标签页切换*/
.layui-tab-scrollleft .layui-tab-item {
  display: block;
}
.layui-tab-scrollleft .layui-icon-fire {
  margin-left: 5px;
  color: #ff1b11;
}

//右下角链接
.layui-index-link p {
  display: block;
  height: 104px;
  text-align: center;
  box-sizing: border-box;
  border-bottom: 1px solid #dadada;
}
.layui-index-link p:last-child {
  border-bottom: none;
}
.layui-index-link a span {
  display: inline-block;
  font-size: 14px;
  vertical-align: middle;
}
.layui-index-link a i {
  margin-right: 10%;
  display: inline-block;
  font-size: 36px;
  color: #f58db2 !important;
  vertical-align: middle;
}
.layui-index-link p + p a i {
  color: #89b8d7 !important;
}
.layui-index-link p + p + p a i {
  color: #23c3aa !important;
}
.layui-index-link a:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}
.layui-index-link p:before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  background-color: #f58db2;
}
.layui-index-link p + p:before {
  background-color: #89b8d7;
}
.layui-index-link p + p + p:before {
  background-color: #23c3aa;
}

//左上角菜单
.layui-index-menu {
  overflow: hidden;
}
.layui-menu-items {
  position: relative;
  display: block;
  height: 120px;
  text-align: center;
  background-color: #fff;
  box-sizing: border-box;
  transition: .3s;
}
.layui-menu-items:before {
  content: '';
  position: absolute;
  z-index: 9;
  right: -1px;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #dadada;
}
.layui-menu-items p {
  font-size: 14px;
  height: 90px;
}
.layui-menu-items p i {
  font-size: 30px;
  margin-right: 10%;
  vertical-align: middle;
}
.layui-menu-items p:after {
  content: '';
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}
.layui-menu-items .tips {
  position: absolute;
  bottom: 0;
  left: 0;
  right: -1px;
  height: 30px;
  line-height: 30px;
  background-color: #4da397;
  overflow: hidden;
  transition: .3s;
}
.layui-menu-items .tips span {
  display: block;
  color: #fff;
}
.layui-menu-items:hover {
  background-color: #f8f8f8;
}
.layui-menu-items:hover .tips {
  height: 90px;
  background-color: #23c3aa;
}
//.layui-menu-items {
//  $base-color: #89b8d7;
//  //color: $base-color;
//  i.layui-icon {
//    color: $base-color;
//  }
//}
//.layui-menu-items-2 {
//  $base-color: #22c3aa;
//  color: $base-color;
//  i.layui-icon {
//    color: $base-color;
//  }
//}
//.layui-menu-items-3 {
//  $base-color: #7bd9a5;
//  color: $base-color;
//  i.layui-icon {
//    color: $base-color;
//  }
//}
//.layui-menu-items-4 {
//  $base-color: #d0648a;
//  color: $base-color;
//  i.layui-icon {
//    color: $base-color;
//  }
//}
//.layui-menu-items-5 {
//  $base-color: #f58db2;
//  color: $base-color;
//  i.layui-icon {
//    color: $base-color;
//  }
//}
//.layui-menu-items-6 {
//  $base-color: #f58db2;
//  color: $base-color;
//  i.layui-icon {
//    color: $base-color;
//  }
//}
