/***** 引用样式重置 *****/
// layui
.layui-fluid {
  padding: 15px;
}
.layui-fl {
  float: left !important;
}
.layui-fr {
  float: right !important;
}
.layui-laydate {
  width: 100% !important;
}
.layui-laydate-main {
  width: 100% !important;
}
.layui-laydate-header {
  line-height: 24px !important;
}
.layui-laydate-content table {
  width: 100% !important;
}
.layui-laydate-content td, .layui-laydate-content th {
  padding: 3px 5px !important;
}
.layui-laydate-content {
  padding: 5px 10px !important;
}
.layui-laydate-footer {
  height: 42px !important;
}
.laydate-footer-btns {
  top: 8px !important;
}
