/***** 样式重置 *****/
// 布局
.layui-fluid {
  padding: 15px;
}
.layui-fl {
  float: left !important;
}
.layui-fr {
  float: right !important;
}
.text-al {
  text-align: left !important;
}
.text-ac {
  text-align: center !important;
}
.text-ar {
  text-align: right !important;
}
@for $i from 0 through 100 {
  .mb#{$i} {
    margin-bottom: $i#{px};
  }
  .mt#{$i} {
    margin-top: $i#{px};
  }
  .ml#{$i} {
    margin-top: $i#{px};
  }
  .mr#{$i} {
    margin-top: $i#{px};
  }

}

// 日期
.layui-date-col12 {
  .layui-laydate {
    width: 100% !important;
  }
  .layui-laydate-main {
    width: 100% !important;
  }
  .layui-laydate-header {
    line-height: 24px !important;
  }
  .layui-laydate-content table {
    width: 100% !important;
  }
  .layui-laydate-content td, .layui-laydate-content th {
    padding: 3px 5px !important;
  }
  .layui-laydate-content {
    padding: 5px 10px !important;
  }
  .layui-laydate-hint {
    margin-top: -100px !important;
    margin-left: 0!important;
    left: 10% !important;
    top: 50% !important;
    bottom: 0 !important;
    width: 80% !important;
    height: 200px !important;
    overflow: auto !important;
  }
  .layui-this .laydate-day-mark i {
    display: none;
  }
  .laydate-day-mark {
    background-color: #f3f3f3;
  }
  .layui-laydate-content td:hover .laydate-day-mark {
    background-color: #eaeaea;
  }
  .laydate-day-mark i {
    position: absolute;
    left: 0;
    top: 2px;
    z-index: 99;
    width: 12px;
    line-height: 8px;
    font-family: Arial;
    font-style: normal;
    font-size: 12px;
    color: #fff;
    text-align: center;
  }
  .layui-laydate-footer {
    height: 42px !important;
  }
  .laydate-footer-btns {
    top: 8px !important;
  }
  .laydate-day-mark {
    color: #666 !important;
  }
}
// 卡片
.layui-card-header {
  border-bottom: 1px solid #dadada;
}
// 按钮
.layui-btn {
  .iconfont {
    margin-right: 5px;
    vertical-align: middle;
  }
  span {
    vertical-align: middle;
  }
}
// 表格
.layui-table tbody tr.active, .layui-table tbody tr:hover, .layui-table thead tr, .layui-table-click, .layui-table-header, .layui-table-hover, .layui-table-mend, .layui-table-patch, .layui-table-tool, .layui-table[lay-even] tr:nth-child(even) {
  background-color: #f8f8f8;
}
.layui-table {
  margin: 10px 0;
  thead {
    tr {
      background-color: #efefef;
      &:hover {
        background-color: #efefef;
      }
    }
    th, td {
      line-height: 30px;
    }
  }
  tr {
    td:first-child {
      text-align: center;
    }
  }
}