/***** 主题颜色 *****/
$theme-list: (green, #038d55, #54a785, #fff),
        (red, #c9393a, #d65b5e, #fff),
        (blue, #1E9FFF, #087fc3, #fff);
@each $theme-name, $theme-base, $theme-header-bg, $theme-side-bg in $theme-list {
  .#{$theme-name} {
    .layui-list a:hover {
      color: $theme-base;
    }
    .layui-header {
      background: $theme-header-bg;
      .logo {
        i {
          background: url("../img/logo-#{$theme-name}.png") no-repeat center;
          background-size: contain;
          image-rendering: -webkit-optimize-contrast;
        }
      }
    }
    .layui-side {
      background-color: $theme-side-bg;
    }
    .layui-nav {
      background-color: $theme-side-bg;
      color: #333;
    }
    .layui-nav .layui-nav-item a {
      color: #333;
    }
    .layui-nav .layui-nav-child dd.layui-this a, .layui-nav-child dd.layui-this {
      background-color: $theme-base;
    }
    .layui-nav-tree .layui-nav-item a:hover {
      background-color: #e8e8e8;
    }
    .layui-header .layui-nav .layui-nav-item a .layui-icon {
      color: #fff;
    }
    .layui-header .layui-nav .layui-nav-child a .layui-icon {
      color: $theme-base;
    }
    .layui-layout-right .layui-nav .layui-nav-child a {
      color: $theme-base;
    }
    .layui-layout-right .layui-nav dd.layui-this a {
      color: #fff;
    }
    .layui-header .layui-nav .layui-nav-child dd.layui-this a .layui-icon, .layui-header .layui-nav-child dd.layui-this .layui-icon{
      color: #fff;
    }
    .layui-nav-itemed>.layui-nav-child {
      background-color: #f8f8f8!important;
    }
    .layui-nav-itemed>a, .layui-nav-tree .layui-nav-title a, .layui-nav-tree .layui-nav-title a:hover {
      color: $theme-base!important;
    }
    .layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-nav-child dd.layui-this a, .layui-nav-tree .layui-this, .layui-nav-tree .layui-this>a, .layui-nav-tree .layui-this>a:hover {
      background-color: #efefef;
      color: $theme-base;
    }
    .layui-nav .layui-nav-more {
      border-color: $theme-base transparent transparent;
    }
    .layui-nav .layui-nav-mored, .layui-nav-itemed>a .layui-nav-more {
      border-color: transparent transparent $theme-base;
    }
    .layui-nav .layui-this:after, .layui-nav-bar, .layui-nav-tree .layui-nav-itemed:after {
      background-color: $theme-base;
    }
    .layui-header .layui-nav .layui-nav-more {
      border-color: #fff transparent transparent;
    }
    .layui-header .layui-nav .layui-nav-mored, .layui-header .layui-nav-itemed>a .layui-nav-more {
      border-color: transparent transparent #fff;
    }
    .layui-side-switch .layui-icon {
      color: #fff;
    }
    /*index.html*/
    .layui-tab-brief>.layui-tab-title .layui-this {
      color: $theme-base;
    }
    .layui-tab-brief>.layui-tab-more li.layui-this:after, .layui-tab-brief>.layui-tab-title .layui-this:after {
      border-color: $theme-base;
    }
    .index-panel-model .layui-model i {
      color: $theme-base;
    }
    .layui-tab-scrollleft .layui-icon-fire {

    }
    .layui-laydate .layui-this {
      background-color: $theme-header-bg!important;
    }
    .layui-carousel-container .layui-carousel-ind li.layui-this {
      background-color: $theme-header-bg;
    }
    .layui-menu-items {
      .layui-icon {
        color: $theme-base;
      }
      .tips {
        background-color: $theme-header-bg;
      }
      &:hover .tips {
        background-color: $theme-base;
      }
    }
    // 时间输入框
    .layui-laydate .laydate-day-mark::after {
      left: 0;
      top: 0;
      width: 0;
      height: 0;
      border-left: 10px solid $theme-base;
      border-top: 8px solid $theme-base;
      border-right: 10px solid transparent;
      border-bottom: 8px solid transparent;
      border-radius: 0;
      background: none;
    }
    // ztree 高亮
    .layui-ztree li a.curSelectedNode {
      background: transparent;
      color: $theme-base;
    }
    // 按钮
    //.layui-btn {
    //  background-color: $theme-header-bg;
    //}
    //.layui-btn-primary {
    //  background-color: #fff;
    //}
    // 表单
    //.layui-form-radio>i:hover, .layui-form-radioed>i {
    //  color: $theme-base;
    //}
  }
}

.sidebar-toggle {
  position: fixed;
  right: 50px;
  bottom: 45px;
  width: 15px;
  height: 15px;
  padding: 5px;
  background: #222;
  line-height: 0;
  z-index: 1050;
  cursor: pointer
}

@media (min-width: 768px) and (max-width:991px) {
  .sidebar {
    display:none!important
  }

  .sidebar-toggle {
    display: none
  }
}

@media (max-width: 767px) {
  .sidebar-toggle {
    display:none
  }
}

.sidebar-toggle-line {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 2px;
  width: 100%;
  background: #fff;
  margin-top: 3px;
  background: #87daff;
}

.sidebar-toggle-line:first-child {
  margin-top: 0
}