/*组件*/
.layui-comment-container {
  .layui-card {
    margin: 24px;
  }
}

/*轮播图*/
.my-carousel {
  div[carousel-item]>*{
    text-align: center;
    line-height: 280px;
    color: #fff;
  }
  div[carousel-item]>*:nth-child(2n){
    background-color: #009688;
  }
  div[carousel-item]>*:nth-child(2n+1){
    background-color: #5FB878;
  }
  #test2 div[carousel-item]>*{
    line-height: 280px;
  }
}

/*二维码*/
.qrcode-group {
  text-align: center;
  .qrcode-items {
    margin: 10px 20px;
    display: inline-block;
    vertical-align: middle;
  }
  &:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
  }
}