/***** 表单页 *****/
.layui-form-container {
  .layui-card {
    margin: 24px;
    .layui-card-header {
      height: 48px;
      line-height: 48px;
      font-size: 14px;
    }
    .layui-card-body {
      padding: 24px 60px 24px 15px;
    }
  }
  .label-td {
    background:#F9F9F9;
    text-align: right;
  }
  .layui-title {
    margin-bottom: 16px;
    line-height: 60px;
    font-weight: 600;
    font-size: 24px;
    color: #333;
    text-align: center;
  }
  .layui-form-item {
    .layui-inline {
      float: left;
      margin-right: 0;
      width: 50%;
    }
    .layui-form-label {
      width: 100px;
    }
    .layui-input-block {
      margin-left: 130px;
    }
  }
  .layui-footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 44px;
    line-height: 44px;
    padding: 15px 0;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 -1px 2px 0 rgba(0,0,0,.05);
  }
}
.layui-form-edit, .layui-form-view {
  margin: 24px;
}
.layui-btn-container {
  margin-top: 24px;
  text-align: center;
  .layui-btn {
    margin: 0 20px;
  }
}