/***** 介绍信 *****/
.layui-letter-container {
  padding: 15px 24px;
  background-color: #fff;
  border-radius: 2px;
  .layui-title {
    margin-bottom: 16px;
    font-size: 20px;
    color: #000;
    text-align: center;
  }

}