/***** 介绍信 *****/
.layui-letter-container {
  padding: 30px 0 15px;
  background-color: #fff;
  .layui-title {
    margin-bottom: 16px;
    font-size: 20px;
    color: #000;
    text-align: center;
  }
  .layui-letter-content {
    margin: 0 auto;
    padding: 30px 40px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  .layui-letter-row {
    span {
      margin-bottom: 10px;
      display: inline-block;
      height: 30px;
      line-height: 30px;
      vertical-align: middle;
      color: #666;
    }
    .layui-input-inline {
      margin-bottom: 10px;
      width: 160px;
    }
    .layui-input, .layui-select, .layui-textarea {
      height: 30px;
      line-height: 30px;
      color: #000;
      text-align: center;
      border-width: 0 0 1px 0;
    }
  }

}