/*地图*/
.layui-map-container {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  /*查询表单*/
  .query-form {
    position: absolute;
    left: 15px;
    top: 10px;
    z-index: 999;
    width: 454px;
    height: 44px;
    line-height: 44px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0px 7px 10px 0px rgba(32, 32, 32, 0.39);
    .select-box {
      position: relative;
      float: left;
      width: 98px;
      height: 48px;
      dt {
        position: relative;
        height: 44px;
        line-height: 44px;
        overflow: hidden;
        &:after {
          content: '';
          position: absolute;
          width: 0;
          right: 0;
          top: 10px;
          bottom: 10px;
          border-right: 1px dashed #e5e5e5;
        }        
      }
      dd {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        background-color: #fff;
        border-radius: 3px;
        box-shadow: 0px 7px 10px 0px rgba(32, 32, 32, 0.39);
        overflow: hidden;
        a:hover {
          background-color: #f2f2f2;
        }
      }
      a {
        padding-left: 15px;
        display: block;
        font-size: 14px;
        color: #333;
        white-space: nowrap;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .layui-edge {
        margin-top: -3px;
        position: absolute;
        right: 10px;
        top: 50%;
        width: 0;
        height: 0;
        border-style: dashed;
        border-color: transparent;
        border-width: 6px;
        border-top-color: #c2c2c2;
        border-top-style: solid;
        overflow: hidden;
        cursor: pointer;
        transition: all .3s;
        -webkit-transition: all .3s
      }
      &:hover {
        dd {
          display: block;
        }
        .layui-edge {
          margin-top: -9px;
          -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
          margin-top: -3px\9
        }
      }
    }
    .input-box {
     margin-left: 98px;
     position: relative;
     padding-right: 44px;
     dl {
       dt {
         input {
           padding: 0 15px;
           display: block;
           width: 100%;
           height: 44px;
           line-height: 44px;
           font-size: 12px;
           color: #000;
           background-color: transparent;
           box-sizing: border-box;
           border: none;
           outline: none;
         }
         a {
           position: absolute;
           right: 0;
           top: 0;
           width: 44px;
           height: 44px;
           line-height: 44px;
           text-align: center;
           i {
             font-size: 18px;
             color: #467dec;
           }
         }
       }
       dd {
         display: none;
         padding: 5px 0 10px;
         position: absolute;
         z-index: 9;
         left: 0;
         right: 0;
         top: 48px;
         background-color: #fff;
         border-radius: 3px;
         box-shadow: 0px 4px 2px 0px rgba(224, 224, 224, 0.83);
         a {
           padding: 0 15px;
           display: block;
           height: 28px;
           line-height: 28px;
           font-size: 12px;
           -ms-text-overflow: ellipsis;
           text-overflow: ellipsis;
           white-space: nowrap;
           overflow: hidden;
           span {
             color: #000;
           }
           i {
             margin-left: 15px;
             font-style: normal;
             color: #666;
           }
           &:hover {
             background-color: #f2f2f2;
           }

         }
       }
     }
    }
  }
}
.layui-map {
  width: 100%;
  height: 100%;
}
.layui-map-zoom {
  position: absolute;
  z-index: 999;
  right: 90px;
  top: 10px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-color: rgb(142, 168, 224);
}


