/***** 表格页 *****/
.layui-table-container {
  padding: 15px 24px;
  background-color: #fff;
  border-radius: 2px;
  .layui-title {
    margin-bottom: 16px;
    font-size: 20px;
    color: #000;
    text-align: center;
  }
  .layui-table[lay-size=lg] td, .layui-table[lay-size=lg] th {
    padding: 15px 10px;
    &:first-child {
      text-align: center;
    }
  }
}