@charset "UTF-8";
/*===== 按钮 =====*/
/***** 引用样式重置 *****/
.layui-fluid {
  padding: 15px;
}

.layui-fl {
  float: left !important;
}

.layui-fr {
  float: right !important;
}

.layui-laydate {
  width: 100% !important;
}

.layui-laydate-main {
  width: 100% !important;
}

.layui-laydate-header {
  line-height: 24px !important;
}

.layui-laydate-content table {
  width: 100% !important;
}

.layui-laydate-content td, .layui-laydate-content th {
  padding: 3px 5px !important;
}

.layui-laydate-content {
  padding: 5px 10px !important;
}

.layui-laydate-footer {
  height: 42px !important;
}

.laydate-footer-btns {
  top: 8px !important;
}

/***** 主题颜色 *****/
.layui-layout {
  /*index.html*/
}

.layui-layout .layui-list a:hover {
  color: #038d55;
}

.layui-layout .layui-icon {
  color: #038d55;
}

.layui-layout .layui-header {
  background: #54a785;
}

.layui-layout .layui-side {
  background-color: #fff;
}

.layui-layout .layui-nav {
  background-color: #fff;
}

.layui-layout .layui-nav {
  color: #333;
}

.layui-layout .layui-nav .layui-nav-item a {
  color: #333;
}

.layui-layout .layui-nav .layui-nav-child dd.layui-this a, .layui-layout .layui-nav-child dd.layui-this {
  background-color: #038d55;
}

.layui-layout .layui-nav-tree .layui-nav-item a:hover {
  background-color: #e8e8e8;
}

.layui-layout .layui-header .layui-nav .layui-nav-item a .layui-icon {
  color: #fff;
}

.layui-layout .layui-header .layui-nav .layui-nav-child a .layui-icon {
  color: #038d55;
}

.layui-layout .layui-layout-right .layui-nav .layui-nav-child a {
  color: #038d55;
}

.layui-layout .layui-layout-right .layui-nav dd.layui-this a {
  color: #fff;
}

.layui-layout .layui-header .layui-nav .layui-nav-child dd.layui-this a .layui-icon, .layui-layout .layui-header .layui-nav-child dd.layui-this .layui-icon {
  color: #fff;
}

.layui-layout .layui-nav-itemed > .layui-nav-child {
  background-color: #f8f8f8 !important;
}

.layui-layout .layui-nav-itemed > a, .layui-layout .layui-nav-tree .layui-nav-title a, .layui-layout .layui-nav-tree .layui-nav-title a:hover {
  color: #038d55 !important;
}

.layui-layout .layui-nav-tree .layui-nav-child dd.layui-this, .layui-layout .layui-nav-tree .layui-nav-child dd.layui-this a, .layui-layout .layui-nav-tree .layui-this, .layui-layout .layui-nav-tree .layui-this > a, .layui-layout .layui-nav-tree .layui-this > a:hover {
  background-color: #efefef;
  color: #038d55;
}

.layui-layout .layui-nav .layui-nav-more {
  border-color: #038d55 transparent transparent;
}

.layui-layout .layui-nav .layui-nav-mored, .layui-layout .layui-nav-itemed > a .layui-nav-more {
  border-color: transparent transparent #038d55;
}

.layui-layout .layui-nav .layui-this:after, .layui-layout .layui-nav-bar, .layui-layout .layui-nav-tree .layui-nav-itemed:after {
  background-color: #038d55;
}

.layui-layout .layui-header .layui-nav .layui-nav-more {
  border-color: #fff transparent transparent;
}

.layui-layout .layui-header .layui-nav .layui-nav-mored, .layui-layout .layui-header .layui-nav-itemed > a .layui-nav-more {
  border-color: transparent transparent #fff;
}

.layui-layout .layui-side-switch .layui-icon {
  color: #fff;
}

.layui-layout .child-iframe {
  background-color: #e8e8e8;
}

.layui-layout .layui-tab-brief > .layui-tab-title .layui-this {
  color: #038d55;
}

.layui-layout .layui-tab-brief > .layui-tab-more li.layui-this:after, .layui-layout .layui-tab-brief > .layui-tab-title .layui-this:after {
  border-color: #038d55;
}

.layui-layout .index-panel-model .layui-model i {
  color: #038d55;
}

.layui-layout .layui-laydate .layui-this {
  background-color: #038d55 !important;
}

.layui-layout .layui-carousel-container .layui-carousel-ind li.layui-this {
  background-color: #038d55;
}

.layui-layout .layui-menu-items .tips {
  background-color: #038d55;
}

.layui-layout .layui-menu-items:hover .tips {
  background-color: #54a785;
}

.red {
  /*index.html*/
}

.red .layui-list a:hover {
  color: #f5222d;
}

.red .layui-icon {
  color: #f5222d;
}

.red .layui-header {
  background: #ff4d4f;
}

.red .layui-side {
  background-color: #fff;
}

.red .layui-nav {
  background-color: #fff;
}

.red .layui-nav {
  color: #333;
}

.red .layui-nav .layui-nav-item a {
  color: #333;
}

.red .layui-nav .layui-nav-child dd.layui-this a, .red .layui-nav-child dd.layui-this {
  background-color: #f5222d;
}

.red .layui-nav-tree .layui-nav-item a:hover {
  background-color: #e8e8e8;
}

.red .layui-header .layui-nav .layui-nav-item a .layui-icon {
  color: #fff;
}

.red .layui-header .layui-nav .layui-nav-child a .layui-icon {
  color: #f5222d;
}

.red .layui-layout-right .layui-nav .layui-nav-child a {
  color: #f5222d;
}

.red .layui-layout-right .layui-nav dd.layui-this a {
  color: #fff;
}

.red .layui-header .layui-nav .layui-nav-child dd.layui-this a .layui-icon, .red .layui-header .layui-nav-child dd.layui-this .layui-icon {
  color: #fff;
}

.red .layui-nav-itemed > .layui-nav-child {
  background-color: #f8f8f8 !important;
}

.red .layui-nav-itemed > a, .red .layui-nav-tree .layui-nav-title a, .red .layui-nav-tree .layui-nav-title a:hover {
  color: #f5222d !important;
}

.red .layui-nav-tree .layui-nav-child dd.layui-this, .red .layui-nav-tree .layui-nav-child dd.layui-this a, .red .layui-nav-tree .layui-this, .red .layui-nav-tree .layui-this > a, .red .layui-nav-tree .layui-this > a:hover {
  background-color: #efefef;
  color: #f5222d;
}

.red .layui-nav .layui-nav-more {
  border-color: #f5222d transparent transparent;
}

.red .layui-nav .layui-nav-mored, .red .layui-nav-itemed > a .layui-nav-more {
  border-color: transparent transparent #f5222d;
}

.red .layui-nav .layui-this:after, .red .layui-nav-bar, .red .layui-nav-tree .layui-nav-itemed:after {
  background-color: #f5222d;
}

.red .layui-header .layui-nav .layui-nav-more {
  border-color: #fff transparent transparent;
}

.red .layui-header .layui-nav .layui-nav-mored, .red .layui-header .layui-nav-itemed > a .layui-nav-more {
  border-color: transparent transparent #fff;
}

.red .layui-side-switch .layui-icon {
  color: #fff;
}

.red .child-iframe {
  background-color: #e8e8e8;
}

.red .layui-tab-brief > .layui-tab-title .layui-this {
  color: #f5222d;
}

.red .layui-tab-brief > .layui-tab-more li.layui-this:after, .red .layui-tab-brief > .layui-tab-title .layui-this:after {
  border-color: #f5222d;
}

.red .index-panel-model .layui-model i {
  color: #f5222d;
}

.red .layui-laydate .layui-this {
  background-color: #f5222d !important;
}

.red .layui-carousel-container .layui-carousel-ind li.layui-this {
  background-color: #f5222d;
}

.red .layui-menu-items .tips {
  background-color: #f5222d;
}

.red .layui-menu-items:hover .tips {
  background-color: #ff4d4f;
}

.blue {
  /*index.html*/
}

.blue .layui-list a:hover {
  color: #007ccf;
}

.blue .layui-icon {
  color: #007ccf;
}

.blue .layui-header {
  background: #029df4;
}

.blue .layui-side {
  background-color: #fff;
}

.blue .layui-nav {
  background-color: #fff;
}

.blue .layui-nav {
  color: #333;
}

.blue .layui-nav .layui-nav-item a {
  color: #333;
}

.blue .layui-nav .layui-nav-child dd.layui-this a, .blue .layui-nav-child dd.layui-this {
  background-color: #007ccf;
}

.blue .layui-nav-tree .layui-nav-item a:hover {
  background-color: #e8e8e8;
}

.blue .layui-header .layui-nav .layui-nav-item a .layui-icon {
  color: #fff;
}

.blue .layui-header .layui-nav .layui-nav-child a .layui-icon {
  color: #007ccf;
}

.blue .layui-layout-right .layui-nav .layui-nav-child a {
  color: #007ccf;
}

.blue .layui-layout-right .layui-nav dd.layui-this a {
  color: #fff;
}

.blue .layui-header .layui-nav .layui-nav-child dd.layui-this a .layui-icon, .blue .layui-header .layui-nav-child dd.layui-this .layui-icon {
  color: #fff;
}

.blue .layui-nav-itemed > .layui-nav-child {
  background-color: #f8f8f8 !important;
}

.blue .layui-nav-itemed > a, .blue .layui-nav-tree .layui-nav-title a, .blue .layui-nav-tree .layui-nav-title a:hover {
  color: #007ccf !important;
}

.blue .layui-nav-tree .layui-nav-child dd.layui-this, .blue .layui-nav-tree .layui-nav-child dd.layui-this a, .blue .layui-nav-tree .layui-this, .blue .layui-nav-tree .layui-this > a, .blue .layui-nav-tree .layui-this > a:hover {
  background-color: #efefef;
  color: #007ccf;
}

.blue .layui-nav .layui-nav-more {
  border-color: #007ccf transparent transparent;
}

.blue .layui-nav .layui-nav-mored, .blue .layui-nav-itemed > a .layui-nav-more {
  border-color: transparent transparent #007ccf;
}

.blue .layui-nav-tree .layui-nav-bar {
  background-color: #007ccf;
}

.blue .layui-nav .layui-this:after, .blue .layui-nav-bar, .blue .layui-nav-tree .layui-nav-itemed:after {
  background-color: #007ccf;
}

.blue .layui-header .layui-nav .layui-nav-more {
  border-color: #fff transparent transparent;
}

.blue .layui-header .layui-nav .layui-nav-mored, .blue .layui-header .layui-nav-itemed > a .layui-nav-more {
  border-color: transparent transparent #fff;
}

.blue .layui-side-switch .layui-icon {
  color: #fff;
}

.blue .child-iframe {
  background-color: #e8e8e8;
}

.blue .layui-tab-brief > .layui-tab-title .layui-this {
  color: #007ccf;
}

.blue .layui-tab-brief > .layui-tab-more li.layui-this:after, .blue .layui-tab-brief > .layui-tab-title .layui-this:after {
  border-color: #007ccf;
}

.blue .index-panel-model .layui-model i {
  color: #007ccf;
}

.blue .layui-laydate .layui-this {
  background-color: #007ccf !important;
}

.blue .layui-carousel-container .layui-carousel-ind li.layui-this {
  background-color: #007ccf;
}

.blue .layui-menu-items .tips {
  background-color: #007ccf;
}

.blue .layui-menu-items:hover .tips {
  background-color: #029df4;
}

.gray {
  /*index.html*/
}

.gray .layui-list a:hover {
  color: #909090;
}

.gray .layui-icon {
  color: #909090;
}

.gray .layui-header {
  background: #474747;
}

.gray .layui-side {
  background-color: #fff;
}

.gray .layui-nav {
  background-color: #fff;
}

.gray .layui-nav {
  color: #333;
}

.gray .layui-nav .layui-nav-item a {
  color: #333;
}

.gray .layui-nav .layui-nav-child dd.layui-this a, .gray .layui-nav-child dd.layui-this {
  background-color: #909090;
}

.gray .layui-nav-tree .layui-nav-item a:hover {
  background-color: #e8e8e8;
}

.gray .layui-header .layui-nav .layui-nav-item a .layui-icon {
  color: #fff;
}

.gray .layui-header .layui-nav .layui-nav-child a .layui-icon {
  color: #909090;
}

.gray .layui-layout-right .layui-nav .layui-nav-child a {
  color: #909090;
}

.gray .layui-layout-right .layui-nav dd.layui-this a {
  color: #fff;
}

.gray .layui-header .layui-nav .layui-nav-child dd.layui-this a .layui-icon, .gray .layui-header .layui-nav-child dd.layui-this .layui-icon {
  color: #fff;
}

.gray .layui-nav-itemed > .layui-nav-child {
  background-color: #f8f8f8 !important;
}

.gray .layui-nav-itemed > a, .gray .layui-nav-tree .layui-nav-title a, .gray .layui-nav-tree .layui-nav-title a:hover {
  color: #909090 !important;
}

.gray .layui-nav-tree .layui-nav-child dd.layui-this, .gray .layui-nav-tree .layui-nav-child dd.layui-this a, .gray .layui-nav-tree .layui-this, .gray .layui-nav-tree .layui-this > a, .gray .layui-nav-tree .layui-this > a:hover {
  background-color: #efefef;
  color: #909090;
}

.gray .layui-nav .layui-nav-more {
  border-color: #909090 transparent transparent;
}

.gray .layui-nav .layui-nav-mored, .gray .layui-nav-itemed > a .layui-nav-more {
  border-color: transparent transparent #909090;
}

.gray .layui-nav-tree .layui-nav-bar {
  background-color: #909090;
}

.gray .layui-nav .layui-this:after, .gray .layui-nav-bar, .gray .layui-nav-tree .layui-nav-itemed:after {
  background-color: #909090;
}

.gray .layui-header .layui-nav .layui-nav-more {
  border-color: #fff transparent transparent;
}

.gray .layui-header .layui-nav .layui-nav-mored, .gray .layui-header .layui-nav-itemed > a .layui-nav-more {
  border-color: transparent transparent #fff;
}

.gray .layui-side-switch .layui-icon {
  color: #fff;
}

.gray .child-iframe {
  background-color: #e8e8e8;
}

.gray .layui-tab-brief > .layui-tab-title .layui-this {
  color: #909090;
}

.gray .layui-tab-brief > .layui-tab-more li.layui-this:after, .gray .layui-tab-brief > .layui-tab-title .layui-this:after {
  border-color: #909090;
}

.gray .index-panel-model .layui-model i {
  color: #909090;
}

.gray .layui-laydate .layui-this {
  background-color: #909090 !important;
}

.gray .layui-carousel-container .layui-carousel-ind li.layui-this {
  background-color: #909090;
}

.gray .layui-menu-items .tips {
  background-color: #909090;
}

.gray .layui-menu-items:hover .tips {
  background-color: #474747;
}

/***** 按钮 *****/
.site-title {
  margin: 30px 0 20px;
}

.site-title fieldset {
  border: none;
  padding: 0;
  border-top: 1px solid #eee;
}

.site-title fieldset legend {
  margin-left: 20px;
  padding: 0 10px;
  font-size: 22px;
  font-weight: 300;
}
