@charset "UTF-8";
/*===== 公共布局 =====*/
/***** 主题颜色 *****/
.layui-layout {
  /*index.html*/
}

.layui-layout .layui-list a:hover {
  color: #038d55;
}

.layui-layout .layui-header {
  background: #54a785;
}

.layui-layout .layui-side {
  background-color: #fff;
}

.layui-layout .layui-nav {
  background-color: #fff;
}

.layui-layout .layui-nav {
  color: #333;
}

.layui-layout .layui-nav .layui-nav-item a {
  color: #333;
}

.layui-layout .layui-nav .layui-nav-child dd.layui-this a, .layui-layout .layui-nav-child dd.layui-this {
  background-color: #038d55;
}

.layui-layout .layui-nav-tree .layui-nav-item a:hover {
  background-color: #e8e8e8;
}

.layui-layout .layui-header .layui-nav .layui-nav-item a .layui-icon {
  color: #fff;
}

.layui-layout .layui-header .layui-nav .layui-nav-child a .layui-icon {
  color: #038d55;
}

.layui-layout .layui-layout-right .layui-nav .layui-nav-child a {
  color: #038d55;
}

.layui-layout .layui-layout-right .layui-nav dd.layui-this a {
  color: #fff;
}

.layui-layout .layui-header .layui-nav .layui-nav-child dd.layui-this a .layui-icon, .layui-layout .layui-header .layui-nav-child dd.layui-this .layui-icon {
  color: #fff;
}

.layui-layout .layui-nav-itemed > .layui-nav-child {
  background-color: #f8f8f8 !important;
}

.layui-layout .layui-nav-itemed > a, .layui-layout .layui-nav-tree .layui-nav-title a, .layui-layout .layui-nav-tree .layui-nav-title a:hover {
  color: #038d55 !important;
}

.layui-layout .layui-nav-tree .layui-nav-child dd.layui-this, .layui-layout .layui-nav-tree .layui-nav-child dd.layui-this a, .layui-layout .layui-nav-tree .layui-this, .layui-layout .layui-nav-tree .layui-this > a, .layui-layout .layui-nav-tree .layui-this > a:hover {
  background-color: #efefef;
  color: #038d55;
}

.layui-layout .layui-nav .layui-nav-more {
  border-color: #038d55 transparent transparent;
}

.layui-layout .layui-nav .layui-nav-mored, .layui-layout .layui-nav-itemed > a .layui-nav-more {
  border-color: transparent transparent #038d55;
}

.layui-layout .layui-nav .layui-this:after, .layui-layout .layui-nav-bar, .layui-layout .layui-nav-tree .layui-nav-itemed:after {
  background-color: #038d55;
}

.layui-layout .layui-header .layui-nav .layui-nav-more {
  border-color: #fff transparent transparent;
}

.layui-layout .layui-header .layui-nav .layui-nav-mored, .layui-layout .layui-header .layui-nav-itemed > a .layui-nav-more {
  border-color: transparent transparent #fff;
}

.layui-layout .layui-side-switch .layui-icon {
  color: #fff;
}

.layui-layout .layui-tab-brief > .layui-tab-title .layui-this {
  color: #038d55;
}

.layui-layout .layui-tab-brief > .layui-tab-more li.layui-this:after, .layui-layout .layui-tab-brief > .layui-tab-title .layui-this:after {
  border-color: #038d55;
}

.layui-layout .index-panel-model .layui-model i {
  color: #038d55;
}

.layui-layout .layui-laydate .layui-this {
  background-color: #54a785 !important;
}

.layui-layout .layui-carousel-container .layui-carousel-ind li.layui-this {
  background-color: #54a785;
}

.layui-layout .layui-menu-items .layui-icon {
  color: #038d55;
}

.layui-layout .layui-menu-items .tips {
  background-color: #54a785;
}

.layui-layout .layui-menu-items:hover .tips {
  background-color: #038d55;
}

.layui-layout .layui-laydate .laydate-day-mark::after {
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-left: 10px solid #038d55;
  border-top: 8px solid #038d55;
  border-right: 10px solid transparent;
  border-bottom: 8px solid transparent;
  border-radius: 0;
  background: none;
}

.red {
  /*index.html*/
}

.red .layui-list a:hover {
  color: #c9393a;
}

.red .layui-header {
  background: #d65b5e;
}

.red .layui-side {
  background-color: #fff;
}

.red .layui-nav {
  background-color: #fff;
}

.red .layui-nav {
  color: #333;
}

.red .layui-nav .layui-nav-item a {
  color: #333;
}

.red .layui-nav .layui-nav-child dd.layui-this a, .red .layui-nav-child dd.layui-this {
  background-color: #c9393a;
}

.red .layui-nav-tree .layui-nav-item a:hover {
  background-color: #e8e8e8;
}

.red .layui-header .layui-nav .layui-nav-item a .layui-icon {
  color: #fff;
}

.red .layui-header .layui-nav .layui-nav-child a .layui-icon {
  color: #c9393a;
}

.red .layui-layout-right .layui-nav .layui-nav-child a {
  color: #c9393a;
}

.red .layui-layout-right .layui-nav dd.layui-this a {
  color: #fff;
}

.red .layui-header .layui-nav .layui-nav-child dd.layui-this a .layui-icon, .red .layui-header .layui-nav-child dd.layui-this .layui-icon {
  color: #fff;
}

.red .layui-nav-itemed > .layui-nav-child {
  background-color: #f8f8f8 !important;
}

.red .layui-nav-itemed > a, .red .layui-nav-tree .layui-nav-title a, .red .layui-nav-tree .layui-nav-title a:hover {
  color: #c9393a !important;
}

.red .layui-nav-tree .layui-nav-child dd.layui-this, .red .layui-nav-tree .layui-nav-child dd.layui-this a, .red .layui-nav-tree .layui-this, .red .layui-nav-tree .layui-this > a, .red .layui-nav-tree .layui-this > a:hover {
  background-color: #efefef;
  color: #c9393a;
}

.red .layui-nav .layui-nav-more {
  border-color: #c9393a transparent transparent;
}

.red .layui-nav .layui-nav-mored, .red .layui-nav-itemed > a .layui-nav-more {
  border-color: transparent transparent #c9393a;
}

.red .layui-nav .layui-this:after, .red .layui-nav-bar, .red .layui-nav-tree .layui-nav-itemed:after {
  background-color: #c9393a;
}

.red .layui-header .layui-nav .layui-nav-more {
  border-color: #fff transparent transparent;
}

.red .layui-header .layui-nav .layui-nav-mored, .red .layui-header .layui-nav-itemed > a .layui-nav-more {
  border-color: transparent transparent #fff;
}

.red .layui-side-switch .layui-icon {
  color: #fff;
}

.red .layui-tab-brief > .layui-tab-title .layui-this {
  color: #c9393a;
}

.red .layui-tab-brief > .layui-tab-more li.layui-this:after, .red .layui-tab-brief > .layui-tab-title .layui-this:after {
  border-color: #c9393a;
}

.red .index-panel-model .layui-model i {
  color: #c9393a;
}

.red .layui-laydate .layui-this {
  background-color: #d65b5e !important;
}

.red .layui-carousel-container .layui-carousel-ind li.layui-this {
  background-color: #d65b5e;
}

.red .layui-menu-items .layui-icon {
  color: #c9393a;
}

.red .layui-menu-items .tips {
  background-color: #d65b5e;
}

.red .layui-menu-items:hover .tips {
  background-color: #c9393a;
}

.red .layui-laydate .laydate-day-mark::after {
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-left: 10px solid #c9393a;
  border-top: 8px solid #c9393a;
  border-right: 10px solid transparent;
  border-bottom: 8px solid transparent;
  border-radius: 0;
  background: none;
}

.blue {
  /*index.html*/
}

.blue .layui-list a:hover {
  color: #0272bd;
}

.blue .layui-header {
  background: #208ed3;
}

.blue .layui-side {
  background-color: #fff;
}

.blue .layui-nav {
  background-color: #fff;
}

.blue .layui-nav {
  color: #333;
}

.blue .layui-nav .layui-nav-item a {
  color: #333;
}

.blue .layui-nav .layui-nav-child dd.layui-this a, .blue .layui-nav-child dd.layui-this {
  background-color: #0272bd;
}

.blue .layui-nav-tree .layui-nav-item a:hover {
  background-color: #e8e8e8;
}

.blue .layui-header .layui-nav .layui-nav-item a .layui-icon {
  color: #fff;
}

.blue .layui-header .layui-nav .layui-nav-child a .layui-icon {
  color: #0272bd;
}

.blue .layui-layout-right .layui-nav .layui-nav-child a {
  color: #0272bd;
}

.blue .layui-layout-right .layui-nav dd.layui-this a {
  color: #fff;
}

.blue .layui-header .layui-nav .layui-nav-child dd.layui-this a .layui-icon, .blue .layui-header .layui-nav-child dd.layui-this .layui-icon {
  color: #fff;
}

.blue .layui-nav-itemed > .layui-nav-child {
  background-color: #f8f8f8 !important;
}

.blue .layui-nav-itemed > a, .blue .layui-nav-tree .layui-nav-title a, .blue .layui-nav-tree .layui-nav-title a:hover {
  color: #0272bd !important;
}

.blue .layui-nav-tree .layui-nav-child dd.layui-this, .blue .layui-nav-tree .layui-nav-child dd.layui-this a, .blue .layui-nav-tree .layui-this, .blue .layui-nav-tree .layui-this > a, .blue .layui-nav-tree .layui-this > a:hover {
  background-color: #efefef;
  color: #0272bd;
}

.blue .layui-nav .layui-nav-more {
  border-color: #0272bd transparent transparent;
}

.blue .layui-nav .layui-nav-mored, .blue .layui-nav-itemed > a .layui-nav-more {
  border-color: transparent transparent #0272bd;
}

.blue .layui-nav .layui-this:after, .blue .layui-nav-bar, .blue .layui-nav-tree .layui-nav-itemed:after {
  background-color: #0272bd;
}

.blue .layui-header .layui-nav .layui-nav-more {
  border-color: #fff transparent transparent;
}

.blue .layui-header .layui-nav .layui-nav-mored, .blue .layui-header .layui-nav-itemed > a .layui-nav-more {
  border-color: transparent transparent #fff;
}

.blue .layui-side-switch .layui-icon {
  color: #fff;
}

.blue .layui-tab-brief > .layui-tab-title .layui-this {
  color: #0272bd;
}

.blue .layui-tab-brief > .layui-tab-more li.layui-this:after, .blue .layui-tab-brief > .layui-tab-title .layui-this:after {
  border-color: #0272bd;
}

.blue .index-panel-model .layui-model i {
  color: #0272bd;
}

.blue .layui-laydate .layui-this {
  background-color: #208ed3 !important;
}

.blue .layui-carousel-container .layui-carousel-ind li.layui-this {
  background-color: #208ed3;
}

.blue .layui-menu-items .layui-icon {
  color: #0272bd;
}

.blue .layui-menu-items .tips {
  background-color: #208ed3;
}

.blue .layui-menu-items:hover .tips {
  background-color: #0272bd;
}

.blue .layui-laydate .laydate-day-mark::after {
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-left: 10px solid #0272bd;
  border-top: 8px solid #0272bd;
  border-right: 10px solid transparent;
  border-bottom: 8px solid transparent;
  border-radius: 0;
  background: none;
}

/***** 主体布局 *****/
.layui-header {
  position: relative;
  z-index: 1000;
  height: 86px;
}

.layui-header .logo {
  position: absolute;
  left: 20px;
  top: 18px;
  height: 50px;
  line-height: 50px;
  font-size: 28px;
  font-family: simhei;
  color: #fff;
}

.layui-header .logo:hover {
  color: #fff;
}

.layui-header .logo img {
  margin-right: 10px;
  display: inline-block;
  width: 40px;
  height: auto;
  vertical-align: -8px;
}

.layui-header .logo:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 0;
  vertical-align: middle;
}

.layui-layout-right p {
  float: left;
  line-height: 86px;
  color: #efefef;
}

.layui-layout-right .layui-nav {
  float: left;
  background-color: transparent;
}

.layui-layout-right .layui-nav i {
  margin-right: 8px;
}

.layui-layout-right .layui-nav-item {
  line-height: 86px;
}

.layui-layout-right .layui-nav-child {
  top: 86px;
}

.layui-layout-right .layui-nav .layui-nav-item a {
  padding: 0 15px;
  color: #efefef;
}

.layui-layout-right .layui-nav .layui-nav-child a {
  color: #333;
}

.layui-side {
  position: fixed;
  left: 0;
  top: 86px;
  width: 220px;
  background-color: #393D49;
  -webkit-box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
  overflow-x: hidden;
}

.layui-side-menu {
  width: 220px;
}

.layui-side-menu .layui-side-scroll {
  width: 240px;
}

.layui-body {
  position: absolute;
  left: 220px;
  right: 0;
  top: 86px;
  bottom: 0;
  z-index: 998;
  width: auto;
  overflow: hidden;
  overflow-y: auto;
  box-sizing: border-box;
}

.layui-side, .layui-body, .layui-footer {
  transition: all .3s;
  -webkit-transition: all .3s;
}

.layui-nav-tree {
  width: 220px;
}

.layui-side-menu .layui-nav-tree {
  width: 220px;
}

.layui-nav-tree .layui-nav-item > a {
  padding-top: 8px;
  padding-bottom: 8px;
}

.layui-nav-tree .layui-nav-item a {
  padding-left: 40px;
  padding-right: 30px;
  height: 40px;
  line-height: 40px;
}

.layui-nav-tree .layui-nav-item .layui-icon {
  position: absolute;
  top: 50%;
  left: 20px;
  margin-top: -20px;
}

.layui-side-menu .layui-nav-child .layui-nav-child a {
  padding-left: 53px;
}

.child-iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0;
  background-color: #f2f2f2;
}

/*收起菜单*/
.layui-side-switch {
  position: fixed;
  z-index: 9999;
  left: 170px;
  bottom: 10px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #afafaf;
  background: rgba(0, 0, 0, 0.3);
  opacity: .8;
  text-align: center;
}

.layui-side-switch:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

/*颜色切换*/
.skinBtn {
  text-align: center;
}
