.layui-fluid {
  padding: 15px;
}

.layui-fl {
  float: left !important;
}

.layui-fr {
  float: right !important;
}

.layui-laydate {
  width: 100% !important;
}

.layui-laydate-main {
  width: 100% !important;
}

.layui-laydate-content table {
  width: 100% !important;
}

.layui-laydate-content td, .layui-laydate-content th {
  padding: 4px 5px !important;
}

.mCSB_inside > .mCSB_container {
  margin-right: 0;
}

.green {
  /*main.html*/
}

.green .layui-list a:hover {
  color: #038d55;
}

.green .layui-icon {
  color: #038d55;
}

.green .layui-header {
  background-color: #22d7bd;
}

.green .layui-side {
  background-color: #fff;
}

.green .layui-nav {
  background-color: #fff;
}

.green .layui-nav {
  color: #333;
}

.green .layui-nav .layui-nav-item a {
  color: #333;
}

.green .layui-nav .layui-nav-child dd.layui-this a, .green .layui-nav-child dd.layui-this {
  background-color: #038d55;
}

.green .layui-nav-tree .layui-nav-item a:hover {
  background-color: #e8e8e8;
}

.green .layui-header .layui-nav .layui-nav-item a .layui-icon {
  color: #fff;
}

.green .layui-header .layui-nav .layui-nav-child a .layui-icon {
  color: #038d55;
}

.green .layui-layout-right .layui-nav .layui-nav-child a {
  color: #038d55;
}

.green .layui-layout-right .layui-nav dd.layui-this a {
  color: #fff;
}

.green .layui-header .layui-nav .layui-nav-child dd.layui-this a .layui-icon, .green .layui-header .layui-nav-child dd.layui-this .layui-icon {
  color: #fff;
}

.green .layui-nav-itemed > .layui-nav-child {
  background-color: #f8f8f8 !important;
}

.green .layui-nav-itemed > a, .green .layui-nav-tree .layui-nav-title a, .green .layui-nav-tree .layui-nav-title a:hover {
  color: #038d55 !important;
}

.green .layui-nav-tree .layui-nav-child dd.layui-this, .green .layui-nav-tree .layui-nav-child dd.layui-this a, .green .layui-nav-tree .layui-this, .green .layui-nav-tree .layui-this > a, .green .layui-nav-tree .layui-this > a:hover {
  background-color: #efefef;
  color: #038d55;
}

.green .layui-nav .layui-nav-more {
  border-color: #038d55 transparent transparent;
}

.green .layui-nav .layui-nav-mored, .green .layui-nav-itemed > a .layui-nav-more {
  border-color: transparent transparent #038d55;
}

.green .layui-nav .layui-this:after, .green .layui-nav-bar, .green .layui-nav-tree .layui-nav-itemed:after {
  background-color: #038d55;
}

.green .layui-header .layui-nav .layui-nav-more {
  border-color: #fff transparent transparent;
}

.green .layui-header .layui-nav .layui-nav-mored, .green .layui-header .layui-nav-itemed > a .layui-nav-more {
  border-color: transparent transparent #fff;
}

.green .layui-side-switch .layui-icon {
  color: #fff;
}

.green .child-iframe {
  background-color: #e8e8e8;
}

.green .layui-tab-brief > .layui-tab-title .layui-this {
  color: #038d55;
}

.green .layui-tab-brief > .layui-tab-more li.layui-this:after, .green .layui-tab-brief > .layui-tab-title .layui-this:after {
  border-color: #038d55;
}

.green .index-panel-model .layui-model i {
  color: #038d55;
}

.blue {
  /*main.html*/
}

.blue .layui-list a:hover {
  color: #244281;
}

.blue .layui-icon {
  color: #244281;
}

.blue .layui-header {
  background-color: #3B5999;
}

.blue .layui-side {
  background-color: #fff;
}

.blue .layui-nav {
  background-color: #fff;
}

.blue .layui-nav {
  color: #333;
}

.blue .layui-nav .layui-nav-item a {
  color: #333;
}

.blue .layui-nav .layui-nav-child dd.layui-this a, .blue .layui-nav-child dd.layui-this {
  background-color: #244281;
}

.blue .layui-nav-tree .layui-nav-item a:hover {
  background-color: #e8e8e8;
}

.blue .layui-header .layui-nav .layui-nav-item a .layui-icon {
  color: #fff;
}

.blue .layui-header .layui-nav .layui-nav-child a .layui-icon {
  color: #244281;
}

.blue .layui-layout-right .layui-nav .layui-nav-child a {
  color: #244281;
}

.blue .layui-layout-right .layui-nav dd.layui-this a {
  color: #fff;
}

.blue .layui-header .layui-nav .layui-nav-child dd.layui-this a .layui-icon, .blue .layui-header .layui-nav-child dd.layui-this .layui-icon {
  color: #fff;
}

.blue .layui-nav-itemed > .layui-nav-child {
  background-color: #f8f8f8 !important;
}

.blue .layui-nav-itemed > a, .blue .layui-nav-tree .layui-nav-title a, .blue .layui-nav-tree .layui-nav-title a:hover {
  color: #244281 !important;
}

.blue .layui-nav-tree .layui-nav-child dd.layui-this, .blue .layui-nav-tree .layui-nav-child dd.layui-this a, .blue .layui-nav-tree .layui-this, .blue .layui-nav-tree .layui-this > a, .blue .layui-nav-tree .layui-this > a:hover {
  background-color: #efefef;
  color: #244281;
}

.blue .layui-nav .layui-nav-more {
  border-color: #244281 transparent transparent;
}

.blue .layui-nav .layui-nav-mored, .blue .layui-nav-itemed > a .layui-nav-more {
  border-color: transparent transparent #244281;
}

.blue .layui-nav-tree .layui-nav-bar {
  background-color: #244281;
}

.blue .layui-nav .layui-this:after, .blue .layui-nav-bar, .blue .layui-nav-tree .layui-nav-itemed:after {
  background-color: #244281;
}

.blue .layui-header .layui-nav .layui-nav-more {
  border-color: #fff transparent transparent;
}

.blue .layui-header .layui-nav .layui-nav-mored, .blue .layui-header .layui-nav-itemed > a .layui-nav-more {
  border-color: transparent transparent #fff;
}

.blue .layui-side-switch .layui-icon {
  color: #fff;
}

.blue .child-iframe {
  background-color: #e8e8e8;
}

.blue .layui-tab-brief > .layui-tab-title .layui-this {
  color: #244281;
}

.blue .layui-tab-brief > .layui-tab-more li.layui-this:after, .blue .layui-tab-brief > .layui-tab-title .layui-this:after {
  border-color: #244281;
}

.blue .index-panel-model .layui-model i {
  color: #244281;
}

.gray {
  /*main.html*/
}

.gray .layui-list a:hover {
  color: #909090;
}

.gray .layui-icon {
  color: #909090;
}

.gray .layui-header {
  background-color: #474747;
}

.gray .layui-side {
  background-color: #fff;
}

.gray .layui-nav {
  background-color: #fff;
}

.gray .layui-nav {
  color: #333;
}

.gray .layui-nav .layui-nav-item a {
  color: #333;
}

.gray .layui-nav .layui-nav-child dd.layui-this a, .gray .layui-nav-child dd.layui-this {
  background-color: #909090;
}

.gray .layui-nav-tree .layui-nav-item a:hover {
  background-color: #e8e8e8;
}

.gray .layui-header .layui-nav .layui-nav-item a .layui-icon {
  color: #fff;
}

.gray .layui-header .layui-nav .layui-nav-child a .layui-icon {
  color: #909090;
}

.gray .layui-layout-right .layui-nav .layui-nav-child a {
  color: #909090;
}

.gray .layui-layout-right .layui-nav dd.layui-this a {
  color: #fff;
}

.gray .layui-header .layui-nav .layui-nav-child dd.layui-this a .layui-icon, .gray .layui-header .layui-nav-child dd.layui-this .layui-icon {
  color: #fff;
}

.gray .layui-nav-itemed > .layui-nav-child {
  background-color: #f8f8f8 !important;
}

.gray .layui-nav-itemed > a, .gray .layui-nav-tree .layui-nav-title a, .gray .layui-nav-tree .layui-nav-title a:hover {
  color: #909090 !important;
}

.gray .layui-nav-tree .layui-nav-child dd.layui-this, .gray .layui-nav-tree .layui-nav-child dd.layui-this a, .gray .layui-nav-tree .layui-this, .gray .layui-nav-tree .layui-this > a, .gray .layui-nav-tree .layui-this > a:hover {
  background-color: #efefef;
  color: #909090;
}

.gray .layui-nav .layui-nav-more {
  border-color: #909090 transparent transparent;
}

.gray .layui-nav .layui-nav-mored, .gray .layui-nav-itemed > a .layui-nav-more {
  border-color: transparent transparent #909090;
}

.gray .layui-nav-tree .layui-nav-bar {
  background-color: #909090;
}

.gray .layui-nav .layui-this:after, .gray .layui-nav-bar, .gray .layui-nav-tree .layui-nav-itemed:after {
  background-color: #909090;
}

.gray .layui-header .layui-nav .layui-nav-more {
  border-color: #fff transparent transparent;
}

.gray .layui-header .layui-nav .layui-nav-mored, .gray .layui-header .layui-nav-itemed > a .layui-nav-more {
  border-color: transparent transparent #fff;
}

.gray .layui-side-switch .layui-icon {
  color: #fff;
}

.gray .child-iframe {
  background-color: #e8e8e8;
}

.gray .layui-tab-brief > .layui-tab-title .layui-this {
  color: #909090;
}

.gray .layui-tab-brief > .layui-tab-more li.layui-this:after, .gray .layui-tab-brief > .layui-tab-title .layui-this:after {
  border-color: #909090;
}

.gray .index-panel-model .layui-model i {
  color: #909090;
}
