@charset "UTF-8";
/*活动提醒*/
.index-panel-tips {
  padding-top: 15px;
}

.index-panel-tips .layui-tips {
  padding: 16px;
  position: relative;
  line-height: 24px;
  font-size: 14px;
  background-color: #fff;
}

.layui-tips span i {
  margin-right: 5px;
  font-size: 20px;
  vertical-align: -2px;
}

.layui-tips-scroll {
  position: absolute;
  left: 120px;
  right: 16px;
  top: 16px;
}

.layui-tips-scroll .tempWrap {
  width: 100% !important;
}

.layui-tips-scroll ul {
  overflow: hidden;
  zoom: 1;
}

.layui-tips-scroll ul li {
  margin-right: 20px;
  float: left;
  height: 24px;
  line-height: 24px;
  text-align: left;
  _display: inline;
  width: auto !important;
}

.layui-tips-scroll ul li a {
  padding-left: 50px;
}

/*菜单*/
.index-panel-model .layui-model {
  padding: 16px 30px;
  height: 80px;
  line-height: 48px;
  font-size: 16px;
  background-color: #fff;
  box-sizing: border-box;
}

.index-panel-model .layui-model i {
  float: right;
  font-size: 26px;
  color: #303030;
}

.index-panel-list {
  margin-bottom: 10px;
}

.index-panel-list .layui-card-header {
  padding: 0 16px;
  height: 48px;
  line-height: 48px;
  font-size: 14px;
  border-bottom: 1px solid #e8e8e8;
}

.index-panel-list .layui-card-body {
  height: 240px;
}

.index-panel-list .layui-tab-title {
  height: 48px;
  line-height: 48px;
}

.index-panel-list .layui-tab-title li {
  padding: 0 16px;
  height: 48px;
  line-height: 48px;
  font-size: 14px;
}

.index-panel-list .layui-tab-title .layui-this:after {
  height: 49px;
}

.index-panel-list .layui-tab-content {
  height: 240px;
}

/*列表*/
.layui-list a {
  display: block;
  overflow: hidden;
}

.layui-list-header {
  height: 40px;
  line-height: 40px;
}

.layui-list-header a {
  display: block;
  font-size: 14px;
  color: #333;
  overflow: hidden;
}

.layui-list-header a:hover {
  color: #333;
}

.layui-list-header {
  padding: 0 16px;
}

.layui-list-header a span {
  padding-left: 5px;
}

.layui-list-content {
  height: 200px;
  overflow: hidden;
}

.layui-list-content ul li {
  padding: 0 16px;
  height: 40px;
  line-height: 40px;
}

.layui-list-col2 dl a span {
  padding-right: 5px;
  float: left;
  width: 70%;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}

.layui-list-col2 dl a span + span {
  float: right;
  width: auto;
}

.layui-list-col2 .layui-list-header a span + span {
  padding-right: 10px;
}

.layui-list-col3 dl a span {
  padding-right: 5px;
  float: left;
  width: 50%;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}

.layui-list-col3 dl a span + span {
  width: 30%;
}

.layui-list-col3 dl a span + span + span {
  float: right;
  width: auto;
}

.layui-list-col3 .layui-list-header a span + span + span {
  padding-right: 5px;
}

.layui-list-col4 dl a span {
  padding-right: 5px;
  float: left;
  width: 40%;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}

.layui-list-col4 dl a span + span {
  width: 20%;
}

.layui-list-col4 dl a span + span + span {
  width: 20%;
}

.layui-list-col4 dl a span + span + span + span {
  float: right;
  width: auto;
}

.layui-list-col4 .layui-list-header a span + span + span + span {
  padding-right: 10px;
}

.layui-list-col5 dl a span {
  padding-right: 5px;
  float: left;
  width: 20%;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}

.layui-list-col5 dl a span + span + span + span {
  padding-left: 20px;
  width: 10%;
}

.layui-list-col5 dl a span + span + span + span + span {
  width: 30%;
  text-align: right;
}

.layui-list-col5 .layui-list-header a span + span + span + span + span {
  padding-right: 10px;
  text-align: right;
}

/*轮播*/
.layui-carousel-container {
  height: 100%;
}

.layui-carousel-container .layui-carousel {
  background-color: transparent;
}

.layui-carousel-container .layui-carousel-ind {
  position: absolute;
  top: -41px !important;
  text-align: right;
}

.layui-carousel-container .layui-carousel-ind ul {
  background: 0 0 !important;
}

.layui-carousel-container .layui-carousel-ind li {
  background-color: #e2e2e2;
}

.layui-carousel-container .layui-carousel-ind li:hover {
  background-color: #c2c2c2;
}

.layui-carousel-container .layui-carousel-ind li.layui-this {
  background-color: #999;
}

.layui-carousel-container .layui-carousel > [carousel-item] > * {
  background-color: #fff;
}

/*标签页切换*/
.layui-tab-scrollleft .layui-tab-item {
  display: block;
}

.layui-tab-scrollleft .layui-icon-fire {
  margin-left: 5px;
  color: #ff1b11;
}
