@charset "UTF-8";
/*===== 主要样式 =====*/
/***** 样式重置 *****/
.layui-fluid {
  padding: 15px;
}

.layui-fl {
  float: left !important;
}

.layui-fr {
  float: right !important;
}

.text-al {
  text-align: left !important;
}

.text-ac {
  text-align: center !important;
}

.text-ar {
  text-align: right !important;
}

.mb0 {
  margin-bottom: 0px;
}

.mt0 {
  margin-top: 0px;
}

.ml0 {
  margin-top: 0px;
}

.mr0 {
  margin-top: 0px;
}

.mb1 {
  margin-bottom: 1px;
}

.mt1 {
  margin-top: 1px;
}

.ml1 {
  margin-top: 1px;
}

.mr1 {
  margin-top: 1px;
}

.mb2 {
  margin-bottom: 2px;
}

.mt2 {
  margin-top: 2px;
}

.ml2 {
  margin-top: 2px;
}

.mr2 {
  margin-top: 2px;
}

.mb3 {
  margin-bottom: 3px;
}

.mt3 {
  margin-top: 3px;
}

.ml3 {
  margin-top: 3px;
}

.mr3 {
  margin-top: 3px;
}

.mb4 {
  margin-bottom: 4px;
}

.mt4 {
  margin-top: 4px;
}

.ml4 {
  margin-top: 4px;
}

.mr4 {
  margin-top: 4px;
}

.mb5 {
  margin-bottom: 5px;
}

.mt5 {
  margin-top: 5px;
}

.ml5 {
  margin-top: 5px;
}

.mr5 {
  margin-top: 5px;
}

.mb6 {
  margin-bottom: 6px;
}

.mt6 {
  margin-top: 6px;
}

.ml6 {
  margin-top: 6px;
}

.mr6 {
  margin-top: 6px;
}

.mb7 {
  margin-bottom: 7px;
}

.mt7 {
  margin-top: 7px;
}

.ml7 {
  margin-top: 7px;
}

.mr7 {
  margin-top: 7px;
}

.mb8 {
  margin-bottom: 8px;
}

.mt8 {
  margin-top: 8px;
}

.ml8 {
  margin-top: 8px;
}

.mr8 {
  margin-top: 8px;
}

.mb9 {
  margin-bottom: 9px;
}

.mt9 {
  margin-top: 9px;
}

.ml9 {
  margin-top: 9px;
}

.mr9 {
  margin-top: 9px;
}

.mb10 {
  margin-bottom: 10px;
}

.mt10 {
  margin-top: 10px;
}

.ml10 {
  margin-top: 10px;
}

.mr10 {
  margin-top: 10px;
}

.mb11 {
  margin-bottom: 11px;
}

.mt11 {
  margin-top: 11px;
}

.ml11 {
  margin-top: 11px;
}

.mr11 {
  margin-top: 11px;
}

.mb12 {
  margin-bottom: 12px;
}

.mt12 {
  margin-top: 12px;
}

.ml12 {
  margin-top: 12px;
}

.mr12 {
  margin-top: 12px;
}

.mb13 {
  margin-bottom: 13px;
}

.mt13 {
  margin-top: 13px;
}

.ml13 {
  margin-top: 13px;
}

.mr13 {
  margin-top: 13px;
}

.mb14 {
  margin-bottom: 14px;
}

.mt14 {
  margin-top: 14px;
}

.ml14 {
  margin-top: 14px;
}

.mr14 {
  margin-top: 14px;
}

.mb15 {
  margin-bottom: 15px;
}

.mt15 {
  margin-top: 15px;
}

.ml15 {
  margin-top: 15px;
}

.mr15 {
  margin-top: 15px;
}

.mb16 {
  margin-bottom: 16px;
}

.mt16 {
  margin-top: 16px;
}

.ml16 {
  margin-top: 16px;
}

.mr16 {
  margin-top: 16px;
}

.mb17 {
  margin-bottom: 17px;
}

.mt17 {
  margin-top: 17px;
}

.ml17 {
  margin-top: 17px;
}

.mr17 {
  margin-top: 17px;
}

.mb18 {
  margin-bottom: 18px;
}

.mt18 {
  margin-top: 18px;
}

.ml18 {
  margin-top: 18px;
}

.mr18 {
  margin-top: 18px;
}

.mb19 {
  margin-bottom: 19px;
}

.mt19 {
  margin-top: 19px;
}

.ml19 {
  margin-top: 19px;
}

.mr19 {
  margin-top: 19px;
}

.mb20 {
  margin-bottom: 20px;
}

.mt20 {
  margin-top: 20px;
}

.ml20 {
  margin-top: 20px;
}

.mr20 {
  margin-top: 20px;
}

.mb21 {
  margin-bottom: 21px;
}

.mt21 {
  margin-top: 21px;
}

.ml21 {
  margin-top: 21px;
}

.mr21 {
  margin-top: 21px;
}

.mb22 {
  margin-bottom: 22px;
}

.mt22 {
  margin-top: 22px;
}

.ml22 {
  margin-top: 22px;
}

.mr22 {
  margin-top: 22px;
}

.mb23 {
  margin-bottom: 23px;
}

.mt23 {
  margin-top: 23px;
}

.ml23 {
  margin-top: 23px;
}

.mr23 {
  margin-top: 23px;
}

.mb24 {
  margin-bottom: 24px;
}

.mt24 {
  margin-top: 24px;
}

.ml24 {
  margin-top: 24px;
}

.mr24 {
  margin-top: 24px;
}

.mb25 {
  margin-bottom: 25px;
}

.mt25 {
  margin-top: 25px;
}

.ml25 {
  margin-top: 25px;
}

.mr25 {
  margin-top: 25px;
}

.mb26 {
  margin-bottom: 26px;
}

.mt26 {
  margin-top: 26px;
}

.ml26 {
  margin-top: 26px;
}

.mr26 {
  margin-top: 26px;
}

.mb27 {
  margin-bottom: 27px;
}

.mt27 {
  margin-top: 27px;
}

.ml27 {
  margin-top: 27px;
}

.mr27 {
  margin-top: 27px;
}

.mb28 {
  margin-bottom: 28px;
}

.mt28 {
  margin-top: 28px;
}

.ml28 {
  margin-top: 28px;
}

.mr28 {
  margin-top: 28px;
}

.mb29 {
  margin-bottom: 29px;
}

.mt29 {
  margin-top: 29px;
}

.ml29 {
  margin-top: 29px;
}

.mr29 {
  margin-top: 29px;
}

.mb30 {
  margin-bottom: 30px;
}

.mt30 {
  margin-top: 30px;
}

.ml30 {
  margin-top: 30px;
}

.mr30 {
  margin-top: 30px;
}

.mb31 {
  margin-bottom: 31px;
}

.mt31 {
  margin-top: 31px;
}

.ml31 {
  margin-top: 31px;
}

.mr31 {
  margin-top: 31px;
}

.mb32 {
  margin-bottom: 32px;
}

.mt32 {
  margin-top: 32px;
}

.ml32 {
  margin-top: 32px;
}

.mr32 {
  margin-top: 32px;
}

.mb33 {
  margin-bottom: 33px;
}

.mt33 {
  margin-top: 33px;
}

.ml33 {
  margin-top: 33px;
}

.mr33 {
  margin-top: 33px;
}

.mb34 {
  margin-bottom: 34px;
}

.mt34 {
  margin-top: 34px;
}

.ml34 {
  margin-top: 34px;
}

.mr34 {
  margin-top: 34px;
}

.mb35 {
  margin-bottom: 35px;
}

.mt35 {
  margin-top: 35px;
}

.ml35 {
  margin-top: 35px;
}

.mr35 {
  margin-top: 35px;
}

.mb36 {
  margin-bottom: 36px;
}

.mt36 {
  margin-top: 36px;
}

.ml36 {
  margin-top: 36px;
}

.mr36 {
  margin-top: 36px;
}

.mb37 {
  margin-bottom: 37px;
}

.mt37 {
  margin-top: 37px;
}

.ml37 {
  margin-top: 37px;
}

.mr37 {
  margin-top: 37px;
}

.mb38 {
  margin-bottom: 38px;
}

.mt38 {
  margin-top: 38px;
}

.ml38 {
  margin-top: 38px;
}

.mr38 {
  margin-top: 38px;
}

.mb39 {
  margin-bottom: 39px;
}

.mt39 {
  margin-top: 39px;
}

.ml39 {
  margin-top: 39px;
}

.mr39 {
  margin-top: 39px;
}

.mb40 {
  margin-bottom: 40px;
}

.mt40 {
  margin-top: 40px;
}

.ml40 {
  margin-top: 40px;
}

.mr40 {
  margin-top: 40px;
}

.mb41 {
  margin-bottom: 41px;
}

.mt41 {
  margin-top: 41px;
}

.ml41 {
  margin-top: 41px;
}

.mr41 {
  margin-top: 41px;
}

.mb42 {
  margin-bottom: 42px;
}

.mt42 {
  margin-top: 42px;
}

.ml42 {
  margin-top: 42px;
}

.mr42 {
  margin-top: 42px;
}

.mb43 {
  margin-bottom: 43px;
}

.mt43 {
  margin-top: 43px;
}

.ml43 {
  margin-top: 43px;
}

.mr43 {
  margin-top: 43px;
}

.mb44 {
  margin-bottom: 44px;
}

.mt44 {
  margin-top: 44px;
}

.ml44 {
  margin-top: 44px;
}

.mr44 {
  margin-top: 44px;
}

.mb45 {
  margin-bottom: 45px;
}

.mt45 {
  margin-top: 45px;
}

.ml45 {
  margin-top: 45px;
}

.mr45 {
  margin-top: 45px;
}

.mb46 {
  margin-bottom: 46px;
}

.mt46 {
  margin-top: 46px;
}

.ml46 {
  margin-top: 46px;
}

.mr46 {
  margin-top: 46px;
}

.mb47 {
  margin-bottom: 47px;
}

.mt47 {
  margin-top: 47px;
}

.ml47 {
  margin-top: 47px;
}

.mr47 {
  margin-top: 47px;
}

.mb48 {
  margin-bottom: 48px;
}

.mt48 {
  margin-top: 48px;
}

.ml48 {
  margin-top: 48px;
}

.mr48 {
  margin-top: 48px;
}

.mb49 {
  margin-bottom: 49px;
}

.mt49 {
  margin-top: 49px;
}

.ml49 {
  margin-top: 49px;
}

.mr49 {
  margin-top: 49px;
}

.mb50 {
  margin-bottom: 50px;
}

.mt50 {
  margin-top: 50px;
}

.ml50 {
  margin-top: 50px;
}

.mr50 {
  margin-top: 50px;
}

.mb51 {
  margin-bottom: 51px;
}

.mt51 {
  margin-top: 51px;
}

.ml51 {
  margin-top: 51px;
}

.mr51 {
  margin-top: 51px;
}

.mb52 {
  margin-bottom: 52px;
}

.mt52 {
  margin-top: 52px;
}

.ml52 {
  margin-top: 52px;
}

.mr52 {
  margin-top: 52px;
}

.mb53 {
  margin-bottom: 53px;
}

.mt53 {
  margin-top: 53px;
}

.ml53 {
  margin-top: 53px;
}

.mr53 {
  margin-top: 53px;
}

.mb54 {
  margin-bottom: 54px;
}

.mt54 {
  margin-top: 54px;
}

.ml54 {
  margin-top: 54px;
}

.mr54 {
  margin-top: 54px;
}

.mb55 {
  margin-bottom: 55px;
}

.mt55 {
  margin-top: 55px;
}

.ml55 {
  margin-top: 55px;
}

.mr55 {
  margin-top: 55px;
}

.mb56 {
  margin-bottom: 56px;
}

.mt56 {
  margin-top: 56px;
}

.ml56 {
  margin-top: 56px;
}

.mr56 {
  margin-top: 56px;
}

.mb57 {
  margin-bottom: 57px;
}

.mt57 {
  margin-top: 57px;
}

.ml57 {
  margin-top: 57px;
}

.mr57 {
  margin-top: 57px;
}

.mb58 {
  margin-bottom: 58px;
}

.mt58 {
  margin-top: 58px;
}

.ml58 {
  margin-top: 58px;
}

.mr58 {
  margin-top: 58px;
}

.mb59 {
  margin-bottom: 59px;
}

.mt59 {
  margin-top: 59px;
}

.ml59 {
  margin-top: 59px;
}

.mr59 {
  margin-top: 59px;
}

.mb60 {
  margin-bottom: 60px;
}

.mt60 {
  margin-top: 60px;
}

.ml60 {
  margin-top: 60px;
}

.mr60 {
  margin-top: 60px;
}

.mb61 {
  margin-bottom: 61px;
}

.mt61 {
  margin-top: 61px;
}

.ml61 {
  margin-top: 61px;
}

.mr61 {
  margin-top: 61px;
}

.mb62 {
  margin-bottom: 62px;
}

.mt62 {
  margin-top: 62px;
}

.ml62 {
  margin-top: 62px;
}

.mr62 {
  margin-top: 62px;
}

.mb63 {
  margin-bottom: 63px;
}

.mt63 {
  margin-top: 63px;
}

.ml63 {
  margin-top: 63px;
}

.mr63 {
  margin-top: 63px;
}

.mb64 {
  margin-bottom: 64px;
}

.mt64 {
  margin-top: 64px;
}

.ml64 {
  margin-top: 64px;
}

.mr64 {
  margin-top: 64px;
}

.mb65 {
  margin-bottom: 65px;
}

.mt65 {
  margin-top: 65px;
}

.ml65 {
  margin-top: 65px;
}

.mr65 {
  margin-top: 65px;
}

.mb66 {
  margin-bottom: 66px;
}

.mt66 {
  margin-top: 66px;
}

.ml66 {
  margin-top: 66px;
}

.mr66 {
  margin-top: 66px;
}

.mb67 {
  margin-bottom: 67px;
}

.mt67 {
  margin-top: 67px;
}

.ml67 {
  margin-top: 67px;
}

.mr67 {
  margin-top: 67px;
}

.mb68 {
  margin-bottom: 68px;
}

.mt68 {
  margin-top: 68px;
}

.ml68 {
  margin-top: 68px;
}

.mr68 {
  margin-top: 68px;
}

.mb69 {
  margin-bottom: 69px;
}

.mt69 {
  margin-top: 69px;
}

.ml69 {
  margin-top: 69px;
}

.mr69 {
  margin-top: 69px;
}

.mb70 {
  margin-bottom: 70px;
}

.mt70 {
  margin-top: 70px;
}

.ml70 {
  margin-top: 70px;
}

.mr70 {
  margin-top: 70px;
}

.mb71 {
  margin-bottom: 71px;
}

.mt71 {
  margin-top: 71px;
}

.ml71 {
  margin-top: 71px;
}

.mr71 {
  margin-top: 71px;
}

.mb72 {
  margin-bottom: 72px;
}

.mt72 {
  margin-top: 72px;
}

.ml72 {
  margin-top: 72px;
}

.mr72 {
  margin-top: 72px;
}

.mb73 {
  margin-bottom: 73px;
}

.mt73 {
  margin-top: 73px;
}

.ml73 {
  margin-top: 73px;
}

.mr73 {
  margin-top: 73px;
}

.mb74 {
  margin-bottom: 74px;
}

.mt74 {
  margin-top: 74px;
}

.ml74 {
  margin-top: 74px;
}

.mr74 {
  margin-top: 74px;
}

.mb75 {
  margin-bottom: 75px;
}

.mt75 {
  margin-top: 75px;
}

.ml75 {
  margin-top: 75px;
}

.mr75 {
  margin-top: 75px;
}

.mb76 {
  margin-bottom: 76px;
}

.mt76 {
  margin-top: 76px;
}

.ml76 {
  margin-top: 76px;
}

.mr76 {
  margin-top: 76px;
}

.mb77 {
  margin-bottom: 77px;
}

.mt77 {
  margin-top: 77px;
}

.ml77 {
  margin-top: 77px;
}

.mr77 {
  margin-top: 77px;
}

.mb78 {
  margin-bottom: 78px;
}

.mt78 {
  margin-top: 78px;
}

.ml78 {
  margin-top: 78px;
}

.mr78 {
  margin-top: 78px;
}

.mb79 {
  margin-bottom: 79px;
}

.mt79 {
  margin-top: 79px;
}

.ml79 {
  margin-top: 79px;
}

.mr79 {
  margin-top: 79px;
}

.mb80 {
  margin-bottom: 80px;
}

.mt80 {
  margin-top: 80px;
}

.ml80 {
  margin-top: 80px;
}

.mr80 {
  margin-top: 80px;
}

.mb81 {
  margin-bottom: 81px;
}

.mt81 {
  margin-top: 81px;
}

.ml81 {
  margin-top: 81px;
}

.mr81 {
  margin-top: 81px;
}

.mb82 {
  margin-bottom: 82px;
}

.mt82 {
  margin-top: 82px;
}

.ml82 {
  margin-top: 82px;
}

.mr82 {
  margin-top: 82px;
}

.mb83 {
  margin-bottom: 83px;
}

.mt83 {
  margin-top: 83px;
}

.ml83 {
  margin-top: 83px;
}

.mr83 {
  margin-top: 83px;
}

.mb84 {
  margin-bottom: 84px;
}

.mt84 {
  margin-top: 84px;
}

.ml84 {
  margin-top: 84px;
}

.mr84 {
  margin-top: 84px;
}

.mb85 {
  margin-bottom: 85px;
}

.mt85 {
  margin-top: 85px;
}

.ml85 {
  margin-top: 85px;
}

.mr85 {
  margin-top: 85px;
}

.mb86 {
  margin-bottom: 86px;
}

.mt86 {
  margin-top: 86px;
}

.ml86 {
  margin-top: 86px;
}

.mr86 {
  margin-top: 86px;
}

.mb87 {
  margin-bottom: 87px;
}

.mt87 {
  margin-top: 87px;
}

.ml87 {
  margin-top: 87px;
}

.mr87 {
  margin-top: 87px;
}

.mb88 {
  margin-bottom: 88px;
}

.mt88 {
  margin-top: 88px;
}

.ml88 {
  margin-top: 88px;
}

.mr88 {
  margin-top: 88px;
}

.mb89 {
  margin-bottom: 89px;
}

.mt89 {
  margin-top: 89px;
}

.ml89 {
  margin-top: 89px;
}

.mr89 {
  margin-top: 89px;
}

.mb90 {
  margin-bottom: 90px;
}

.mt90 {
  margin-top: 90px;
}

.ml90 {
  margin-top: 90px;
}

.mr90 {
  margin-top: 90px;
}

.mb91 {
  margin-bottom: 91px;
}

.mt91 {
  margin-top: 91px;
}

.ml91 {
  margin-top: 91px;
}

.mr91 {
  margin-top: 91px;
}

.mb92 {
  margin-bottom: 92px;
}

.mt92 {
  margin-top: 92px;
}

.ml92 {
  margin-top: 92px;
}

.mr92 {
  margin-top: 92px;
}

.mb93 {
  margin-bottom: 93px;
}

.mt93 {
  margin-top: 93px;
}

.ml93 {
  margin-top: 93px;
}

.mr93 {
  margin-top: 93px;
}

.mb94 {
  margin-bottom: 94px;
}

.mt94 {
  margin-top: 94px;
}

.ml94 {
  margin-top: 94px;
}

.mr94 {
  margin-top: 94px;
}

.mb95 {
  margin-bottom: 95px;
}

.mt95 {
  margin-top: 95px;
}

.ml95 {
  margin-top: 95px;
}

.mr95 {
  margin-top: 95px;
}

.mb96 {
  margin-bottom: 96px;
}

.mt96 {
  margin-top: 96px;
}

.ml96 {
  margin-top: 96px;
}

.mr96 {
  margin-top: 96px;
}

.mb97 {
  margin-bottom: 97px;
}

.mt97 {
  margin-top: 97px;
}

.ml97 {
  margin-top: 97px;
}

.mr97 {
  margin-top: 97px;
}

.mb98 {
  margin-bottom: 98px;
}

.mt98 {
  margin-top: 98px;
}

.ml98 {
  margin-top: 98px;
}

.mr98 {
  margin-top: 98px;
}

.mb99 {
  margin-bottom: 99px;
}

.mt99 {
  margin-top: 99px;
}

.ml99 {
  margin-top: 99px;
}

.mr99 {
  margin-top: 99px;
}

.mb100 {
  margin-bottom: 100px;
}

.mt100 {
  margin-top: 100px;
}

.ml100 {
  margin-top: 100px;
}

.mr100 {
  margin-top: 100px;
}

.layui-date-col12 .layui-laydate {
  width: 100% !important;
}

.layui-date-col12 .layui-laydate-main {
  width: 100% !important;
}

.layui-date-col12 .layui-laydate-header {
  line-height: 24px !important;
}

.layui-date-col12 .layui-laydate-content table {
  width: 100% !important;
}

.layui-date-col12 .layui-laydate-content td, .layui-date-col12 .layui-laydate-content th {
  padding: 3px 5px !important;
}

.layui-date-col12 .layui-laydate-content {
  padding: 5px 10px !important;
}

.layui-date-col12 .layui-laydate-hint {
  margin-top: -100px !important;
  margin-left: 0 !important;
  left: 10% !important;
  top: 50% !important;
  bottom: 0 !important;
  width: 80% !important;
  height: 200px !important;
  overflow: auto !important;
}

.layui-date-col12 .layui-this .laydate-day-mark i {
  display: none;
}

.layui-date-col12 .laydate-day-mark {
  background-color: #f3f3f3;
}

.layui-date-col12 .layui-laydate-content td:hover .laydate-day-mark {
  background-color: #eaeaea;
}

.layui-date-col12 .laydate-day-mark i {
  position: absolute;
  left: 0;
  top: 2px;
  z-index: 99;
  width: 12px;
  line-height: 8px;
  font-family: Arial;
  font-style: normal;
  font-size: 12px;
  color: #fff;
  text-align: center;
}

.layui-date-col12 .layui-laydate-footer {
  height: 42px !important;
}

.layui-date-col12 .laydate-footer-btns {
  top: 8px !important;
}

.layui-date-col12 .laydate-day-mark {
  color: #666 !important;
}

.layui-card-header {
  border-bottom: 1px solid #dadada;
}

.layui-btn .iconfont {
  margin-right: 5px;
  vertical-align: middle;
}

.layui-btn span {
  vertical-align: middle;
}

.layui-table tbody tr.active, .layui-table tbody tr:hover, .layui-table thead tr, .layui-table-click, .layui-table-header, .layui-table-hover, .layui-table-mend, .layui-table-patch, .layui-table-tool, .layui-table[lay-even] tr:nth-child(even) {
  background-color: #f8f8f8;
}

.layui-table {
  margin: 10px 0;
}

.layui-table thead tr {
  background-color: #efefef;
}

.layui-table thead tr:hover {
  background-color: #efefef;
}

.layui-table thead th, .layui-table thead td {
  line-height: 30px;
}

.layui-table tr td:first-child {
  text-align: center;
}

/***** 主题颜色 *****/
.layui-layout {
  /*index.html*/
}

.layui-layout .layui-list a:hover {
  color: #038d55;
}

.layui-layout .layui-header {
  background: #54a785;
}

.layui-layout .layui-side {
  background-color: #fff;
}

.layui-layout .layui-nav {
  background-color: #fff;
}

.layui-layout .layui-nav {
  color: #333;
}

.layui-layout .layui-nav .layui-nav-item a {
  color: #333;
}

.layui-layout .layui-nav .layui-nav-child dd.layui-this a, .layui-layout .layui-nav-child dd.layui-this {
  background-color: #038d55;
}

.layui-layout .layui-nav-tree .layui-nav-item a:hover {
  background-color: #e8e8e8;
}

.layui-layout .layui-header .layui-nav .layui-nav-item a .layui-icon {
  color: #fff;
}

.layui-layout .layui-header .layui-nav .layui-nav-child a .layui-icon {
  color: #038d55;
}

.layui-layout .layui-layout-right .layui-nav .layui-nav-child a {
  color: #038d55;
}

.layui-layout .layui-layout-right .layui-nav dd.layui-this a {
  color: #fff;
}

.layui-layout .layui-header .layui-nav .layui-nav-child dd.layui-this a .layui-icon, .layui-layout .layui-header .layui-nav-child dd.layui-this .layui-icon {
  color: #fff;
}

.layui-layout .layui-nav-itemed > .layui-nav-child {
  background-color: #f8f8f8 !important;
}

.layui-layout .layui-nav-itemed > a, .layui-layout .layui-nav-tree .layui-nav-title a, .layui-layout .layui-nav-tree .layui-nav-title a:hover {
  color: #038d55 !important;
}

.layui-layout .layui-nav-tree .layui-nav-child dd.layui-this, .layui-layout .layui-nav-tree .layui-nav-child dd.layui-this a, .layui-layout .layui-nav-tree .layui-this, .layui-layout .layui-nav-tree .layui-this > a, .layui-layout .layui-nav-tree .layui-this > a:hover {
  background-color: #efefef;
  color: #038d55;
}

.layui-layout .layui-nav .layui-nav-more {
  border-color: #038d55 transparent transparent;
}

.layui-layout .layui-nav .layui-nav-mored, .layui-layout .layui-nav-itemed > a .layui-nav-more {
  border-color: transparent transparent #038d55;
}

.layui-layout .layui-nav .layui-this:after, .layui-layout .layui-nav-bar, .layui-layout .layui-nav-tree .layui-nav-itemed:after {
  background-color: #038d55;
}

.layui-layout .layui-header .layui-nav .layui-nav-more {
  border-color: #fff transparent transparent;
}

.layui-layout .layui-header .layui-nav .layui-nav-mored, .layui-layout .layui-header .layui-nav-itemed > a .layui-nav-more {
  border-color: transparent transparent #fff;
}

.layui-layout .layui-side-switch .layui-icon {
  color: #fff;
}

.layui-layout .layui-tab-brief > .layui-tab-title .layui-this {
  color: #038d55;
}

.layui-layout .layui-tab-brief > .layui-tab-more li.layui-this:after, .layui-layout .layui-tab-brief > .layui-tab-title .layui-this:after {
  border-color: #038d55;
}

.layui-layout .index-panel-model .layui-model i {
  color: #038d55;
}

.layui-layout .layui-laydate .layui-this {
  background-color: #54a785 !important;
}

.layui-layout .layui-carousel-container .layui-carousel-ind li.layui-this {
  background-color: #54a785;
}

.layui-layout .layui-menu-items .layui-icon {
  color: #038d55;
}

.layui-layout .layui-menu-items .tips {
  background-color: #54a785;
}

.layui-layout .layui-menu-items:hover .tips {
  background-color: #038d55;
}

.layui-layout .layui-laydate .laydate-day-mark::after {
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-left: 10px solid #038d55;
  border-top: 8px solid #038d55;
  border-right: 10px solid transparent;
  border-bottom: 8px solid transparent;
  border-radius: 0;
  background: none;
}

.red {
  /*index.html*/
}

.red .layui-list a:hover {
  color: #c9393a;
}

.red .layui-header {
  background: #d65b5e;
}

.red .layui-side {
  background-color: #fff;
}

.red .layui-nav {
  background-color: #fff;
}

.red .layui-nav {
  color: #333;
}

.red .layui-nav .layui-nav-item a {
  color: #333;
}

.red .layui-nav .layui-nav-child dd.layui-this a, .red .layui-nav-child dd.layui-this {
  background-color: #c9393a;
}

.red .layui-nav-tree .layui-nav-item a:hover {
  background-color: #e8e8e8;
}

.red .layui-header .layui-nav .layui-nav-item a .layui-icon {
  color: #fff;
}

.red .layui-header .layui-nav .layui-nav-child a .layui-icon {
  color: #c9393a;
}

.red .layui-layout-right .layui-nav .layui-nav-child a {
  color: #c9393a;
}

.red .layui-layout-right .layui-nav dd.layui-this a {
  color: #fff;
}

.red .layui-header .layui-nav .layui-nav-child dd.layui-this a .layui-icon, .red .layui-header .layui-nav-child dd.layui-this .layui-icon {
  color: #fff;
}

.red .layui-nav-itemed > .layui-nav-child {
  background-color: #f8f8f8 !important;
}

.red .layui-nav-itemed > a, .red .layui-nav-tree .layui-nav-title a, .red .layui-nav-tree .layui-nav-title a:hover {
  color: #c9393a !important;
}

.red .layui-nav-tree .layui-nav-child dd.layui-this, .red .layui-nav-tree .layui-nav-child dd.layui-this a, .red .layui-nav-tree .layui-this, .red .layui-nav-tree .layui-this > a, .red .layui-nav-tree .layui-this > a:hover {
  background-color: #efefef;
  color: #c9393a;
}

.red .layui-nav .layui-nav-more {
  border-color: #c9393a transparent transparent;
}

.red .layui-nav .layui-nav-mored, .red .layui-nav-itemed > a .layui-nav-more {
  border-color: transparent transparent #c9393a;
}

.red .layui-nav .layui-this:after, .red .layui-nav-bar, .red .layui-nav-tree .layui-nav-itemed:after {
  background-color: #c9393a;
}

.red .layui-header .layui-nav .layui-nav-more {
  border-color: #fff transparent transparent;
}

.red .layui-header .layui-nav .layui-nav-mored, .red .layui-header .layui-nav-itemed > a .layui-nav-more {
  border-color: transparent transparent #fff;
}

.red .layui-side-switch .layui-icon {
  color: #fff;
}

.red .layui-tab-brief > .layui-tab-title .layui-this {
  color: #c9393a;
}

.red .layui-tab-brief > .layui-tab-more li.layui-this:after, .red .layui-tab-brief > .layui-tab-title .layui-this:after {
  border-color: #c9393a;
}

.red .index-panel-model .layui-model i {
  color: #c9393a;
}

.red .layui-laydate .layui-this {
  background-color: #d65b5e !important;
}

.red .layui-carousel-container .layui-carousel-ind li.layui-this {
  background-color: #d65b5e;
}

.red .layui-menu-items .layui-icon {
  color: #c9393a;
}

.red .layui-menu-items .tips {
  background-color: #d65b5e;
}

.red .layui-menu-items:hover .tips {
  background-color: #c9393a;
}

.red .layui-laydate .laydate-day-mark::after {
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-left: 10px solid #c9393a;
  border-top: 8px solid #c9393a;
  border-right: 10px solid transparent;
  border-bottom: 8px solid transparent;
  border-radius: 0;
  background: none;
}

.blue {
  /*index.html*/
}

.blue .layui-list a:hover {
  color: #0272bd;
}

.blue .layui-header {
  background: #208ed3;
}

.blue .layui-side {
  background-color: #fff;
}

.blue .layui-nav {
  background-color: #fff;
}

.blue .layui-nav {
  color: #333;
}

.blue .layui-nav .layui-nav-item a {
  color: #333;
}

.blue .layui-nav .layui-nav-child dd.layui-this a, .blue .layui-nav-child dd.layui-this {
  background-color: #0272bd;
}

.blue .layui-nav-tree .layui-nav-item a:hover {
  background-color: #e8e8e8;
}

.blue .layui-header .layui-nav .layui-nav-item a .layui-icon {
  color: #fff;
}

.blue .layui-header .layui-nav .layui-nav-child a .layui-icon {
  color: #0272bd;
}

.blue .layui-layout-right .layui-nav .layui-nav-child a {
  color: #0272bd;
}

.blue .layui-layout-right .layui-nav dd.layui-this a {
  color: #fff;
}

.blue .layui-header .layui-nav .layui-nav-child dd.layui-this a .layui-icon, .blue .layui-header .layui-nav-child dd.layui-this .layui-icon {
  color: #fff;
}

.blue .layui-nav-itemed > .layui-nav-child {
  background-color: #f8f8f8 !important;
}

.blue .layui-nav-itemed > a, .blue .layui-nav-tree .layui-nav-title a, .blue .layui-nav-tree .layui-nav-title a:hover {
  color: #0272bd !important;
}

.blue .layui-nav-tree .layui-nav-child dd.layui-this, .blue .layui-nav-tree .layui-nav-child dd.layui-this a, .blue .layui-nav-tree .layui-this, .blue .layui-nav-tree .layui-this > a, .blue .layui-nav-tree .layui-this > a:hover {
  background-color: #efefef;
  color: #0272bd;
}

.blue .layui-nav .layui-nav-more {
  border-color: #0272bd transparent transparent;
}

.blue .layui-nav .layui-nav-mored, .blue .layui-nav-itemed > a .layui-nav-more {
  border-color: transparent transparent #0272bd;
}

.blue .layui-nav .layui-this:after, .blue .layui-nav-bar, .blue .layui-nav-tree .layui-nav-itemed:after {
  background-color: #0272bd;
}

.blue .layui-header .layui-nav .layui-nav-more {
  border-color: #fff transparent transparent;
}

.blue .layui-header .layui-nav .layui-nav-mored, .blue .layui-header .layui-nav-itemed > a .layui-nav-more {
  border-color: transparent transparent #fff;
}

.blue .layui-side-switch .layui-icon {
  color: #fff;
}

.blue .layui-tab-brief > .layui-tab-title .layui-this {
  color: #0272bd;
}

.blue .layui-tab-brief > .layui-tab-more li.layui-this:after, .blue .layui-tab-brief > .layui-tab-title .layui-this:after {
  border-color: #0272bd;
}

.blue .index-panel-model .layui-model i {
  color: #0272bd;
}

.blue .layui-laydate .layui-this {
  background-color: #208ed3 !important;
}

.blue .layui-carousel-container .layui-carousel-ind li.layui-this {
  background-color: #208ed3;
}

.blue .layui-menu-items .layui-icon {
  color: #0272bd;
}

.blue .layui-menu-items .tips {
  background-color: #208ed3;
}

.blue .layui-menu-items:hover .tips {
  background-color: #0272bd;
}

.blue .layui-laydate .laydate-day-mark::after {
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-left: 10px solid #0272bd;
  border-top: 8px solid #0272bd;
  border-right: 10px solid transparent;
  border-bottom: 8px solid transparent;
  border-radius: 0;
  background: none;
}

/*/路径导航*/
.layui-breadcrumb-panel {
  padding: 15px 32px 0;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
}

.layui-breadcrumb-panel .layui-breadcrumb {
  display: block;
  margin-bottom: 16px;
}

.layui-breadcrumb-panel .layui-title {
  margin-bottom: 16px;
  font-size: 20px;
  color: #000;
}

/***** 首页 *****/
/*活动提醒*/
.index-panel-tips .layui-tips {
  padding: 16px;
  position: relative;
  line-height: 24px;
  font-size: 14px;
  background-color: #fff;
}

.layui-tips span i {
  margin-right: 5px;
  font-size: 20px;
  vertical-align: -2px;
}

.layui-tips-scroll {
  position: absolute;
  left: 120px;
  right: 16px;
  top: 16px;
}

.layui-tips-scroll .tempWrap {
  width: 100% !important;
}

.layui-tips-scroll ul {
  overflow: hidden;
  zoom: 1;
}

.layui-tips-scroll ul li {
  margin-right: 20px;
  float: left;
  height: 24px;
  line-height: 24px;
  text-align: left;
  _display: inline;
  width: auto !important;
}

.layui-tips-scroll ul li a {
  padding-left: 50px;
}

/*菜单*/
.index-panel-model .layui-model {
  padding: 16px 30px;
  height: 80px;
  line-height: 48px;
  font-size: 16px;
  background-color: #fff;
  box-sizing: border-box;
}

.index-panel-model .layui-model i {
  float: right;
  font-size: 26px;
  color: #303030;
}

.index-panel-list {
  margin-bottom: 10px;
}

.index-panel-list .layui-card-header {
  padding: 0 16px;
  height: 48px;
  line-height: 48px;
  font-size: 14px;
  border-bottom: 1px solid #e8e8e8;
}

.index-panel-list .layui-card-body {
  height: 240px;
}

.index-panel-list .layui-tab-title {
  height: 48px;
  line-height: 48px;
}

.index-panel-list .layui-tab-title li {
  padding: 0 16px;
  height: 48px;
  line-height: 48px;
  font-size: 14px;
}

.index-panel-list .layui-tab-title .layui-this:after {
  height: 49px;
}

.index-panel-list .layui-tab-content {
  height: 240px;
}

/*列表*/
.layui-list a {
  display: block;
  overflow: hidden;
}

.layui-list-header {
  height: 40px;
  line-height: 40px;
}

.layui-list-header a {
  display: block;
  font-size: 14px;
  color: #333;
  overflow: hidden;
}

.layui-list-header a:hover {
  color: #333;
}

.layui-list-header {
  padding: 0 16px;
}

.layui-list-header a span {
  padding-left: 5px;
}

.layui-list-content {
  height: 180px;
  overflow: hidden;
}

.layui-list-content ul li a {
  display: block;
  height: 36px;
  line-height: 36px;
  overflow: hidden;
}

.layui-list-col1 dl a span {
  padding-right: 5px;
  float: left;
  width: 100%;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}

.layui-list-col2 dl a span {
  padding-right: 5px;
  float: left;
  width: 80%;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}

.layui-list-col2 dl a span + span {
  float: right;
  width: auto;
}

.layui-list-col2 .layui-list-header a span + span {
  padding-right: 10px;
}

.layui-list-col3 dl a span {
  padding-right: 5px;
  float: left;
  width: 50%;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}

.layui-list-col3 dl a span + span {
  width: 30%;
}

.layui-list-col3 dl a span + span + span {
  float: right;
  width: auto;
}

.layui-list-col3 .layui-list-header a span + span + span {
  padding-right: 5px;
}

.layui-list-col4 dl a span {
  padding-right: 5px;
  float: left;
  width: 40%;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}

.layui-list-col4 dl a span + span {
  width: 20%;
}

.layui-list-col4 dl a span + span + span {
  width: 20%;
}

.layui-list-col4 dl a span + span + span + span {
  float: right;
  width: auto;
}

.layui-list-col4 .layui-list-header a span + span + span + span {
  padding-right: 10px;
}

.layui-list-col5 dl a span {
  padding-right: 5px;
  float: left;
  width: 20%;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}

.layui-list-col5 dl a span + span + span + span {
  padding-left: 20px;
  width: 10%;
}

.layui-list-col5 dl a span + span + span + span + span {
  width: 30%;
  text-align: right;
}

.layui-list-col5 .layui-list-header a span + span + span + span + span {
  padding-right: 10px;
  text-align: right;
}

/*轮播*/
.layui-carousel-container {
  height: 100%;
}

.layui-carousel-container .layui-carousel {
  background-color: transparent;
}

.layui-carousel-container .layui-carousel-ind {
  position: absolute;
  top: -41px !important;
  text-align: right;
}

.layui-carousel-container .layui-carousel-ind ul {
  background: 0 0 !important;
}

.layui-carousel-container .layui-carousel-ind li {
  background-color: #e2e2e2;
}

.layui-carousel-container .layui-carousel-ind li:hover {
  background-color: #c2c2c2;
}

.layui-carousel-container .layui-carousel-ind li.layui-this {
  background-color: #999;
}

.layui-carousel-container .layui-carousel > [carousel-item] > * {
  background-color: #fff;
}

/*标签页切换*/
.layui-tab-scrollleft .layui-tab-item {
  display: block;
}

.layui-tab-scrollleft .layui-icon-fire {
  margin-left: 5px;
  color: #ff1b11;
}

/*右下角链接*/
.layui-index-link p {
  display: block;
  height: 104px;
  text-align: center;
  box-sizing: border-box;
  border-bottom: 1px solid #dadada;
}

.layui-index-link p:last-child {
  border-bottom: none;
}

.layui-index-link a span {
  display: inline-block;
  font-size: 14px;
  vertical-align: middle;
}

.layui-index-link a i {
  margin-right: 10%;
  display: inline-block;
  font-size: 36px;
  color: #f58db2 !important;
  vertical-align: middle;
}

.layui-index-link p + p a i {
  color: #89b8d7 !important;
}

.layui-index-link p + p + p a i {
  color: #23c3aa !important;
}

.layui-index-link a:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}

.layui-index-link p:before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  background-color: #f58db2;
}

.layui-index-link p + p:before {
  background-color: #89b8d7;
}

.layui-index-link p + p + p:before {
  background-color: #23c3aa;
}

/*左上角菜单*/
.layui-index-menu {
  overflow: hidden;
}

.layui-menu-items {
  position: relative;
  display: block;
  height: 120px;
  text-align: center;
  background-color: #fff;
  box-sizing: border-box;
  transition: .3s;
}

.layui-menu-items:before {
  content: '';
  position: absolute;
  z-index: 9;
  right: -1px;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #dadada;
}

.layui-menu-items p {
  font-size: 14px;
  height: 90px;
  transition: .3s;
}

.layui-menu-items p i {
  font-size: 24px;
  margin-right: 15%;
  vertical-align: middle;
}

.layui-menu-items p:after {
  content: '';
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}

.layui-menu-items .tips {
  position: absolute;
  bottom: -80px;
  left: 0;
  right: -1px;
  line-height: 40px;
  font-size: 16px;
  background-color: #4da397;
  overflow: hidden;
  transition: .3s;
}

.layui-menu-items .tips span {
  display: block;
  color: #fff;
}

.layui-menu-items:hover {
  background-color: #f8f8f8;
}

.layui-menu-items:hover p {
  height: 42px;
}

.layui-menu-items:hover .tips {
  bottom: 0;
  line-height: 26px;
  font-size: 14px;
  background-color: #23c3aa;
}

/*地图*/
.map-wrapper {
  width: 100%;
  height: 100%;
}

#allmap {
  width: 100%;
  height: 100%;
}

/*滚动条插件*/
.mCSB_inside > .mCSB_container {
  margin-right: 0;
}

/***** 表单页 *****/
.layui-form-container .layui-card {
  margin: 24px;
}

.layui-form-container .layui-card .layui-card-header {
  height: 48px;
  line-height: 48px;
  font-size: 14px;
}

.layui-form-container .layui-card .layui-card-body {
  padding: 24px 32px;
}

.layui-form-container .label-td {
  background: #F9F9F9;
  text-align: right;
}

.layui-form-container .layui-title {
  margin-bottom: 16px;
  line-height: 60px;
  font-weight: 600;
  font-size: 24px;
  color: #333;
  text-align: center;
}

.layui-form-container .layui-form-item .layui-inline {
  float: left;
  margin-right: 0;
  width: 50%;
}

.layui-form-container .layui-form-item .layui-form-label {
  width: 100px;
}

.layui-form-container .layui-form-item .layui-input-block {
  margin-left: 130px;
}

.layui-form-container .layui-footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 44px;
  line-height: 44px;
  padding: 15px 0;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.05);
}

.layui-form-edit, .layui-form-view {
  margin: 24px;
}

.layui-btn-container {
  margin-top: 24px;
  text-align: center;
}

.layui-btn-container .layui-btn {
  margin: 0 20px;
}

/***** 列表页 *****/
/*按钮*/
.layui-list-container {
  padding: 15px 24px;
  background-color: #fff;
  border-radius: 2px;
}

.layui-form-panel .layui-form-item {
  margin-bottom: 5px;
}

.layui-form-panel .layui-btn {
  margin-left: 10px;
}

.layui-form-panel .layui-form-label {
  width: auto;
}

.layui-form-panel .layui-input-inline, .layui-form-panel .layui-form-label, .layui-form-panel .layui-btn {
  margin-bottom: 5px;
}

.layui-btn-drop {
  margin-left: 10px;
  padding: 0 36px 0 18px;
  position: relative;
  display: inline-block;
  height: 38px;
  line-height: 38px;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #c9c9c9;
  box-sizing: border-box;
  cursor: pointer;
  vertical-align: middle;
}

.layui-btn-drop a {
  display: inline-block;
  line-height: 36px;
  font-size: 14px;
  color: #555;
  white-space: nowrap;
}

.layui-btn-drop dt a {
  opacity: .9;
  filter: alpha(opacity=90);
}

.layui-btn-drop dl {
  padding-top: 4px;
  display: none;
  position: absolute;
  left: -1px;
  top: 100%;
  width: 100%;
  z-index: 999;
}

.layui-btn-drop dl ul {
  padding: 5px 0;
  min-width: 100%;
  border: 1px solid #d2d2d2;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
}

.layui-btn-drop dl li a {
  padding: 0 10px 0 18px;
  display: block;
  line-height: 36px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.layui-btn-drop dl li:hover {
  background-color: #f2f2f2;
}

.layui-btn-drop:hover dl {
  display: block;
}

.layui-btn-drop .layui-edge {
  margin-top: -3px;
  position: absolute;
  right: 10px;
  top: 50%;
  width: 0;
  height: 0;
  border-style: dashed;
  border-color: transparent;
  border-width: 6px;
  border-top-color: #c2c2c2;
  border-top-style: solid;
  overflow: hidden;
  cursor: pointer;
  transition: all .3s;
  -webkit-transition: all .3s;
}

.layui-btn-drop:hover .layui-edge {
  margin-top: -9px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-top: -3px\9;
}

/*表格*/
/*左侧树*/
.layui-tree-panel {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  overflow-x: auto;
  overflow-y: auto;
  background-color: #fff;
}

.layui-tree-panel.layui-panel-hide {
  width: 0;
}

.layui-tree-search {
  padding: 15px 10px 5px;
}

.layui-ztree {
  padding: 5px 10px;
}

.layui-ztree li a:hover {
  text-decoration: none;
}

.layui-ztree li a.curSelectedNode {
  background: transparent;
  color: #038d55;
}

.layui-ztree .ztreeCurNode {
  position: absolute;
  left: 0;
  min-width: 100%;
  min-height: 34px;
  background-color: #eee;
  background-image: linear-gradient(45deg, #bbb 25%, transparent 0), linear-gradient(45deg, transparent 75%, #bbb 0), linear-gradient(45deg, #bbb 25%, transparent 0), linear-gradient(45deg, transparent 75%, #bbb 0);
  background-position: 0 0, 15px 15px, 15px 15px, 30px 30px;
  background-size: 30px 30px;
}

/*分割线*/
.layui-tree-divider {
  position: fixed;
  z-index: 999;
  left: 200px;
  top: 0;
  width: 4px;
  bottom: 0;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
}

.layui-tree-divider:after {
  margin-top: -6px;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  border-right: 4px solid #333;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
}

.layui-tree-divider.layui-panel-hide {
  left: 0;
}

.layui-tree-divider.layui-panel-hide:after {
  border-left: 4px solid #333;
  border-right: none;
}

/*右侧内容*/
.layui-content-panel {
  position: absolute;
  left: 200px;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
}

.layui-content-panel.layui-panel-hide {
  left: 0;
}

/*图片上传*/
.upload-wrapper img {
  max-width: 100%;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
}

/***** 表格页 *****/
.layui-table-container {
  padding: 15px 24px;
  background-color: #fff;
  border-radius: 2px;
}

.layui-table-container .layui-title {
  margin-bottom: 16px;
  font-size: 20px;
  color: #000;
  text-align: center;
}

.layui-table-container .layui-table[lay-size=lg] td, .layui-table-container .layui-table[lay-size=lg] th {
  padding: 15px 10px;
}

.layui-table-container .layui-table[lay-size=lg] td:first-child, .layui-table-container .layui-table[lay-size=lg] th:first-child {
  text-align: center;
}

/***** 介绍信 *****/
.layui-letter-container {
  padding: 30px 0 15px;
  background-color: #fff;
}

.layui-letter-container .layui-title {
  margin-bottom: 16px;
  font-size: 20px;
  color: #000;
  text-align: center;
}

.layui-letter-container .layui-letter-content {
  margin: 0 auto;
  padding: 30px 40px;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.layui-letter-container .layui-letter-row span {
  margin-bottom: 10px;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  color: #666;
}

.layui-letter-container .layui-letter-row .mb0 {
  margin-bottom: 0;
}

.layui-letter-container .layui-letter-row .layui-input-inline {
  margin-bottom: 10px;
  width: 160px;
}

.layui-letter-container .layui-letter-row .layui-input, .layui-letter-container .layui-letter-row .layui-select, .layui-letter-container .layui-letter-row .layui-textarea {
  height: 30px;
  line-height: 30px;
  color: #000;
  text-align: center;
  border-width: 0 0 1px 0;
}
