<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>web-ui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../../layui/css/layui.css">
    <link rel="stylesheet" href="../../assets/plugins/iconfont/iconfont.css">
    <link rel="stylesheet" href="../../assets/plugins/ztree/zTreeStyle.css">
    <link rel="stylesheet" href="../../assets/css/index.css">
    <link rel="stylesheet" href="../../assets/css/main.css">
</head>
<body>

<div class="layui-layout">
    <!--路径导航-->
    <div class="layui-breadcrumb-panel">
            <span class="layui-breadcrumb">
              <a href="#">首页</a>
              <a href="javascript:;"><cite>模板</cite></a>
              <a href="javascript:;"><cite>详情</cite></a>
            </span>
    </div>
    <!--路径导航-->
    <div class="layui-details-container">
        <h3 class="layui-title-lg">中央纪委机关 着力构建风清气正“办公室文化”</h3>
        <div class="layui-title-sm">
            <span>发布人：张三</span>
            <span>发布时间：2017-3-29</span>
        </div>
        <div class="layui-content">
            近日，中央纪委机关党委对推动委部机关办公室文化建设作出安排，并将其列为推进机关“两学一做”学习教育常态化制度化的重要内容。机关党委要求，各基层党组织应认真总结梳理、挖掘提炼本单位办公室文化建设的特点、做法以及下一步考虑。每一名党员干部都要积极参与办公室文化建设讨论，党员领导干部要带头讲述办公室文化的优良传统，进一步提升办公室文化建设的自觉，营造浓厚氛围。
            　　今年年初，习近平总书记在十八届中央纪委七次全会上指出，要依靠文化自信坚定理想信念，没有中华优秀传统文化、革命文化、社会主义先进文化的底蕴和滋养，信仰信念就难以深沉而执着。
            　　中央纪委领导同志多次要求，要把从严治党要求落实到机关每个支部、每名党员，营造机关良好政治生态，形成风清气正的“办公室文化”。
            　　今年1月召开的中央纪委机关党委会扩大会议，要求机关各基层党组织加强文化建设，构建风清气正的纪检机关办公室文化。次月举办的“学习航天精神，做党的忠诚卫士”专题报告会也强调，着力构建风清气正的办公室文化，党员领导干部带头，在点滴之间言传身教，在潜移默化中传递好作风、好文化、好传统。
            　　在不久前举办的中央纪委监察部机关局处级干部轮训班上，学员们也围绕构建办公室文化进行了深入研讨。大家一致认为，党的十八大以来，委部机关发生了深刻变化，具有政治自觉、严实深细、拼搏进取、攻坚克难、遵规守纪、团结合作、严管厚爱等特点的办公室文化，正在逐步形成。
            　　“在总结梳理的基础上，机关党委将适时在委部机关层面组织研讨交流，了解掌握各单位办公室文化建设情况，巩固深化办公室文化建设成果，把从严治党要求落实到机关每个党支部、每名党员，推动形成令行禁止、纪律严明的机关政治文化，让优良办公室文化在机关蔚然成风。”中央纪委机关党委有关负责人说。
            近日，中央纪委机关党委对推动委部机关办公室文化建设作出安排，并将其列为推进机关“两学一做”学习教育常态化制度化的重要内容。机关党委要求，各基层党组织应认真总结梳理、挖掘提炼本单位办公室文化建设的特点、做法以及下一步考虑。每一名党员干部都要积极参与办公室文化建设讨论，党员领导干部要带头讲述办公室文化的优良传统，进一步提升办公室文化建设的自觉，营造浓厚氛围。
            　　今年年初，习近平总书记在十八届中央纪委七次全会上指出，要依靠文化自信坚定理想信念，没有中华优秀传统文化、革命文化、社会主义先进文化的底蕴和滋养，信仰信念就难以深沉而执着。
            　　中央纪委领导同志多次要求，要把从严治党要求落实到机关每个支部、每名党员，营造机关良好政治生态，形成风清气正的“办公室文化”。
            　　今年1月召开的中央纪委机关党委会扩大会议，要求机关各基层党组织加强文化建设，构建风清气正的纪检机关办公室文化。次月举办的“学习航天精神，做党的忠诚卫士”专题报告会也强调，着力构建风清气正的办公室文化，党员领导干部带头，在点滴之间言传身教，在潜移默化中传递好作风、好文化、好传统。
            　　在不久前举办的中央纪委监察部机关局处级干部轮训班上，学员们也围绕构建办公室文化进行了深入研讨。大家一致认为，党的十八大以来，委部机关发生了深刻变化，具有政治自觉、严实深细、拼搏进取、攻坚克难、遵规守纪、团结合作、严管厚爱等特点的办公室文化，正在逐步形成。
            　　“在总结梳理的基础上，机关党委将适时在委部机关层面组织研讨交流，了解掌握各单位办公室文化建设情况，巩固深化办公室文化建设成果，把从严治党要求落实到机关每个党支部、每名党员，推动形成令行禁止、纪律严明的机关政治文化，让优良办公室文化在机关蔚然成风。”中央纪委机关党委有关负责人说。
            中央纪委领导同志多次要求，要把从严治党要求落实到机关每个支部、每名党员，营造机关良好政治生态，形成风清气正的“办公室文化”。
            　　今年1月召开的中央纪委机关党委会扩大会议，要求机关各基层党组织加强文化建设，构建风清气正的纪检机关办公室文化。次月举办的“学习航天精神，做党的忠诚卫士”专题报告会也强调，着力构建风清气正的办公室文化，党员领导干部带头，在点滴之间言传身教，在潜移默化中传递好作风、好文化、好传统。
            　　在不久前举办的中央纪委监察部机关局处级干部轮训班上，学员们也围绕构建办公室文化进行了深入研讨。大家一致认为，党的十八大以来，委部机关发生了深刻变化，具有政治自觉、严实深细、拼搏进取、攻坚克难、遵规守纪、团结合作、严管厚爱等特点的办公室文化，正在逐步形成。
            　　“在总结梳理的基础上，机关党委将适时在委部机关层面组织研讨交流，了解掌握各单位办公室文化建设情况，巩固深化办公室文化建设成果，把从严治党要求落实到机关每个党支部、每名党员，推动形成令行禁止、纪律严明的机关政治文化，让优良办公室文化在机关蔚然成风。”中央纪委机关党委有关负责人说。
        </div>
    </div>
</div>







<script type="text/javascript" src="../../layui/layui.js"></script>
<script src="../../assets/js/jquery-1.8.3.min.js"></script>
<script>
    layui.use(['element'], function () {
       var element = layui.element;
    });
</script>
</body>
</html>
