<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>web-ui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../../layui/css/layui.css">
    <link rel="stylesheet" href="../../assets/plugins/iconfont/iconfont.css">
    <link rel="stylesheet" href="../../assets/plugins/ztree/zTreeStyle.css">
    <link rel="stylesheet" href="../../assets/css/index.css">
    <link rel="stylesheet" href="../../assets/css/main.css">
</head>
<body>

<div class="layui-layout">
    <!--左侧树-->
    <div class="layui-tree-panel">
        <div class="layui-tree-search">
            <input type="text" class="layui-input" id="layui-input-tree" placeholder="请输入关键字">
        </div>
        <div id="treeDemo" class="layui-ztree ztree"></div>
    </div>
    <!--左侧树-->
    <!--分割线-->
    <div class="layui-tree-divider"></div>
    <!--右侧内容-->
    <div class="layui-content-panel">
        <!--路径导航-->
        <div class="layui-breadcrumb-panel">
            <span class="layui-breadcrumb">
              <a href="#">首页</a>
              <a href="javascript:;"><cite>模板</cite></a>
              <a href="javascript:;"><cite>列表页</cite></a>
            </span>
        </div>
        <!--路径导航-->

        <div class="layui-list-container">
            <!--查询表单-->
            <div class="layui-form-panel">
                <div class="layui-form">
                    <div class="layui-form-item">
                        <label class="layui-form-label">姓名</label>
                        <div class="layui-input-inline">
                            <input type="text" name="title" lay-verify="required" autocomplete="off" placeholder="请输入" class="layui-input">
                        </div>
                        <a class="layui-btn layui-btn-primary form-btn-query"><i class="iconfont icon-chaxun"></i><span>查询</span></a>
                        <a class="layui-btn layui-btn-primary form-btn-reset"><i class="iconfont icon-zhongzhi"></i><span>重置</span></a>
                        <a class="layui-btn layui-btn-primary form-btn-add"><i class="iconfont icon-xinzeng"></i><span>新增</span></a>
                        <a class="layui-btn layui-btn-primary form-btn-del"><i class="iconfont icon-shanchu"></i><span>删除</span></a>
                        <a class="layui-btn layui-btn-primary form-btn-export"><i class="iconfont icon-daochu"></i><span>导出EXCEL表格</span></a>
                        <a class="layui-btn layui-btn-primary form-btn-query-more"><i class="iconfont icon-chaxun"></i><span>高级查询</span></a>
                        <!--隐藏的重置按钮-->
                        <button type="reset" class="layui-btn layui-btn-primary" style="display: none;">重置</button>
                        <!--隐藏的重置按钮-->
                    </div>
                </div>

                <!--高级查询弹层-->
                <div class="layer-query-more" style="display: none;">
                    <form class="layui-form" style="padding-top: 15px;">
                        <div class="layui-inline">
                            <label class="layui-form-label">党组织</label>
                            <div class="layui-inline">
                                <div class="layui-input-inline">
                                    <select name="modules" lay-verify="required" lay-search="">
                                        <option value="">直接选择或搜索选择</option>
                                        <option value="1">党总支</option>
                                        <option value="2">党支部</option>
                                        <option value="3">其他</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">正式党员</label>
                            <div class="layui-inline">
                                <div class="layui-input-inline">
                                    <input type="radio" name="" value="是" title="是" checked="">
                                    <input type="radio" name="" value="否" title="否">
                                </div>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">入党时间</label>
                            <div class="layui-inline">
                                <div class="layui-input-inline">
                                    <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请选择时间" class="layui-input" id="start">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <div class="layui-input-inline">
                                    <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请选择时间" class="layui-input" id="end">
                                </div>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <a class="layui-btn layui-btn-primary form-btn-query" lay-submit=""><i class="iconfont icon-chaxun"></i><span>查询</span></a>
                            <a class="layui-btn layui-btn-primary form-btn-reset"><i class="iconfont icon-zhongzhi"></i><span>重置</span></a>
                            <!--隐藏的重置按钮-->
                            <button type="reset" class="layui-btn layui-btn-primary" style="display: none;">重置</button>
                            <!--隐藏的重置按钮-->
                        </div>
                    </form>
                </div>
                <!--高级查询弹层-->
            </div>
            <!--查询表单-->




            <!--数据表格-->
            <div class="layui-table-panel">
                <div class="layui-form" id="form-list">
                    <table class="layui-table">
                        <colgroup>
                            <col width="20">
                            <col width="150">
                            <col width="100">
                            <col width="100">
                            <col width="150">
                            <col width="150">
                            <col width="180">
                            <col width="150">
                        </colgroup>
                        <thead>
                        <tr>
                            <th style="text-align:center;"><input type="checkbox" lay-skin="primary" lay-filter="allChoose" id="allChoose"></th>
                            <th>姓名</th>
                            <th>性别</th>
                            <th>学历</th>
                            <th>入党时间</th>
                            <th>联系电话</th>
                            <th>资料完成度</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input type="checkbox" lay-skin="primary"></td>
                            <td>李达康</td>
                            <td>男</td>
                            <td>研究生</td>
                            <td>1982-09-12</td>
                            <td>18186632454</td>
                            <td>
                                <div class="layui-progress layui-progress-big" lay-showpercent="true">
                                    <div class="layui-progress-bar" lay-percent="70%"></div>
                                </div>
                            </td>
                            <td>
                                <div class="layui-btn-group">
                                    <a href="javascript:;" class="layui-btn layui-btn-sm form-btn-edit"><i class="iconfont icon-bianji"></i><span>编辑</span></a>
                                    <a href="javascript:;" class="layui-btn layui-btn-sm form-btn-view"><i class="iconfont icon-view"></i><span>查看</span></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" lay-skin="primary"></td>
                            <td>李达康</td>
                            <td>男</td>
                            <td>研究生</td>
                            <td>1982-09-12</td>
                            <td>18186632454</td>
                            <td>
                                <div class="layui-progress layui-progress-big" lay-showpercent="true">
                                    <div class="layui-progress-bar" lay-percent="70%"></div>
                                </div>
                            </td>
                            <td>
                                <div class="layui-btn-group">
                                    <a href="javascript:;" class="layui-btn layui-btn-sm form-btn-edit"><i class="iconfont icon-bianji"></i><span>编辑</span></a>
                                    <a href="javascript:;" class="layui-btn layui-btn-sm form-btn-view"><i class="iconfont icon-view"></i><span>查看</span></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" lay-skin="primary"></td>
                            <td>李达康</td>
                            <td>男</td>
                            <td>研究生</td>
                            <td>1982-09-12</td>
                            <td>18186632454</td>
                            <td>
                                <div class="layui-progress layui-progress-big" lay-showpercent="true">
                                    <div class="layui-progress-bar" lay-percent="70%"></div>
                                </div>
                            </td>
                            <td>
                                <div class="layui-btn-group">
                                    <a href="javascript:;" class="layui-btn layui-btn-sm form-btn-edit"><i class="iconfont icon-bianji"></i><span>编辑</span></a>
                                    <a href="javascript:;" class="layui-btn layui-btn-sm form-btn-view"><i class="iconfont icon-view"></i><span>查看</span></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" lay-skin="primary"></td>
                            <td>李达康</td>
                            <td>男</td>
                            <td>研究生</td>
                            <td>1982-09-12</td>
                            <td>18186632454</td>
                            <td>
                                <div class="layui-progress layui-progress-big" lay-showpercent="true">
                                    <div class="layui-progress-bar" lay-percent="70%"></div>
                                </div>
                            </td>
                            <td>
                                <div class="layui-btn-group">
                                    <a href="javascript:;" class="layui-btn layui-btn-sm form-btn-edit"><i class="iconfont icon-bianji"></i><span>编辑</span></a>
                                    <a href="javascript:;" class="layui-btn layui-btn-sm form-btn-view"><i class="iconfont icon-view"></i><span>查看</span></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" lay-skin="primary"></td>
                            <td>李达康</td>
                            <td>男</td>
                            <td>研究生</td>
                            <td>1982-09-12</td>
                            <td>18186632454</td>
                            <td>
                                <div class="layui-progress layui-progress-big" lay-showpercent="true">
                                    <div class="layui-progress-bar" lay-percent="70%"></div>
                                </div>
                            </td>
                            <td>
                                <div class="layui-btn-group">
                                    <a href="javascript:;" class="layui-btn layui-btn-sm form-btn-edit"><i class="iconfont icon-bianji"></i><span>编辑</span></a>
                                    <a href="javascript:;" class="layui-btn layui-btn-sm form-btn-view"><i class="iconfont icon-view"></i><span>查看</span></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" lay-skin="primary"></td>
                            <td>李达康</td>
                            <td>男</td>
                            <td>研究生</td>
                            <td>1982-09-12</td>
                            <td>18186632454</td>
                            <td>
                                <div class="layui-progress layui-progress-big" lay-showpercent="true">
                                    <div class="layui-progress-bar" lay-percent="70%"></div>
                                </div>
                            </td>
                            <td>
                                <div class="layui-btn-group">
                                    <a href="javascript:;" class="layui-btn layui-btn-sm form-btn-edit"><i class="iconfont icon-bianji"></i><span>编辑</span></a>
                                    <a href="javascript:;" class="layui-btn layui-btn-sm form-btn-view"><i class="iconfont icon-view"></i><span>查看</span></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" lay-skin="primary"></td>
                            <td>李达康</td>
                            <td>男</td>
                            <td>研究生</td>
                            <td>1982-09-12</td>
                            <td>18186632454</td>
                            <td>
                                <div class="layui-progress layui-progress-big" lay-showpercent="true">
                                    <div class="layui-progress-bar" lay-percent="70%"></div>
                                </div>
                            </td>
                            <td>
                                <div class="layui-btn-group">
                                    <a href="javascript:;" class="layui-btn layui-btn-sm form-btn-edit"><i class="iconfont icon-bianji"></i><span>编辑</span></a>
                                    <a href="javascript:;" class="layui-btn layui-btn-sm form-btn-view"><i class="iconfont icon-view"></i><span>查看</span></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" lay-skin="primary"></td>
                            <td>李达康</td>
                            <td>男</td>
                            <td>研究生</td>
                            <td>1982-09-12</td>
                            <td>18186632454</td>
                            <td>
                                <div class="layui-progress layui-progress-big" lay-showpercent="true">
                                    <div class="layui-progress-bar" lay-percent="70%"></div>
                                </div>
                            </td>
                            <td>
                                <div class="layui-btn-group">
                                    <a href="javascript:;" class="layui-btn layui-btn-sm form-btn-edit"><i class="iconfont icon-bianji"></i><span>编辑</span></a>
                                    <a href="javascript:;" class="layui-btn layui-btn-sm form-btn-view"><i class="iconfont icon-view"></i><span>查看</span></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" lay-skin="primary"></td>
                            <td>李达康</td>
                            <td>男</td>
                            <td>研究生</td>
                            <td>1982-09-12</td>
                            <td>18186632454</td>
                            <td>
                                <div class="layui-progress layui-progress-big" lay-showpercent="true">
                                    <div class="layui-progress-bar" lay-percent="70%"></div>
                                </div>
                            </td>
                            <td>
                                <div class="layui-btn-group">
                                    <a href="javascript:;" class="layui-btn layui-btn-sm form-btn-edit"><i class="iconfont icon-bianji"></i><span>编辑</span></a>
                                    <a href="javascript:;" class="layui-btn layui-btn-sm form-btn-view"><i class="iconfont icon-view"></i><span>查看</span></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" lay-skin="primary"></td>
                            <td>李达康</td>
                            <td>男</td>
                            <td>研究生</td>
                            <td>1982-09-12</td>
                            <td>18186632454</td>
                            <td>
                                <div class="layui-progress layui-progress-big" lay-showpercent="true">
                                    <div class="layui-progress-bar" lay-percent="70%"></div>
                                </div>
                            </td>
                            <td>
                                <div class="layui-btn-group">
                                    <a href="javascript:;" class="layui-btn layui-btn-sm form-btn-edit"><i class="iconfont icon-bianji"></i><span>编辑</span></a>
                                    <a href="javascript:;" class="layui-btn layui-btn-sm form-btn-view"><i class="iconfont icon-view"></i><span>查看</span></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" lay-skin="primary"></td>
                            <td>李达康</td>
                            <td>男</td>
                            <td>研究生</td>
                            <td>1982-09-12</td>
                            <td>18186632454</td>
                            <td>
                                <div class="layui-progress layui-progress-big" lay-showpercent="true">
                                    <div class="layui-progress-bar" lay-percent="70%"></div>
                                </div>
                            </td>
                            <td>
                                <div class="layui-btn-group">
                                    <a href="javascript:;" class="layui-btn layui-btn-sm form-btn-edit"><i class="iconfont icon-bianji"></i><span>编辑</span></a>
                                    <a href="javascript:;" class="layui-btn layui-btn-sm form-btn-view"><i class="iconfont icon-view"></i><span>查看</span></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" lay-skin="primary"></td>
                            <td>李达康</td>
                            <td>男</td>
                            <td>研究生</td>
                            <td>1982-09-12</td>
                            <td>18186632454</td>
                            <td>
                                <div class="layui-progress layui-progress-big" lay-showpercent="true">
                                    <div class="layui-progress-bar" lay-percent="70%"></div>
                                </div>
                            </td>
                            <td>
                                <div class="layui-btn-group">
                                    <a href="javascript:;" class="layui-btn layui-btn-sm form-btn-edit"><i class="iconfont icon-bianji"></i><span>编辑</span></a>
                                    <a href="javascript:;" class="layui-btn layui-btn-sm form-btn-view"><i class="iconfont icon-view"></i><span>查看</span></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" lay-skin="primary"></td>
                            <td>李达康</td>
                            <td>男</td>
                            <td>研究生</td>
                            <td>1982-09-12</td>
                            <td>18186632454</td>
                            <td>
                                <div class="layui-progress layui-progress-big" lay-showpercent="true">
                                    <div class="layui-progress-bar" lay-percent="70%"></div>
                                </div>
                            </td>
                            <td>
                                <div class="layui-btn-group">
                                    <a href="javascript:;" class="layui-btn layui-btn-sm form-btn-edit"><i class="iconfont icon-bianji"></i><span>编辑</span></a>
                                    <a href="javascript:;" class="layui-btn layui-btn-sm form-btn-view"><i class="iconfont icon-view"></i><span>查看</span></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" lay-skin="primary"></td>
                            <td>李达康</td>
                            <td>男</td>
                            <td>研究生</td>
                            <td>1982-09-12</td>
                            <td>18186632454</td>
                            <td>
                                <div class="layui-progress layui-progress-big" lay-showpercent="true">
                                    <div class="layui-progress-bar" lay-percent="70%"></div>
                                </div>
                            </td>
                            <td>
                                <div class="layui-btn-group">
                                    <a href="javascript:;" class="layui-btn layui-btn-sm form-btn-edit"><i class="iconfont icon-bianji"></i><span>编辑</span></a>
                                    <a href="javascript:;" class="layui-btn layui-btn-sm form-btn-view"><i class="iconfont icon-view"></i><span>查看</span></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" lay-skin="primary"></td>
                            <td>李达康</td>
                            <td>男</td>
                            <td>研究生</td>
                            <td>1982-09-12</td>
                            <td>18186632454</td>
                            <td>
                                <div class="layui-progress layui-progress-big" lay-showpercent="true">
                                    <div class="layui-progress-bar" lay-percent="70%"></div>
                                </div>
                            </td>
                            <td>
                                <div class="layui-btn-group">
                                    <a href="javascript:;" class="layui-btn layui-btn-sm form-btn-edit"><i class="iconfont icon-bianji"></i><span>编辑</span></a>
                                    <a href="javascript:;" class="layui-btn layui-btn-sm form-btn-view"><i class="iconfont icon-view"></i><span>查看</span></a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div id="demo7"></div>
            </div>
            <!--数据表格-->
        </div>

    </div>
    <!--右侧内容-->


</div>







<script type="text/javascript" src="../../layui/layui.js"></script>
<script src="../../assets/js/jquery-1.8.3.min.js"></script>
<!--ztree-->
<script type="text/javascript" src="../../assets/plugins/ztree/dataset.js"></script>
<script type="text/javascript" src="../../assets/plugins/ztree/jquery.ztree.all.min.js"></script>
<script type="text/javascript" src="../../assets/plugins/ztree/jquery.ztree.exhide.min.js"></script>
<script type="text/javascript" src="../../assets/plugins/ztree/fuzzysearch.js"></script>
<!--ztree-->
<script type="text/javascript">
    layui.use(['laypage', 'laydate', 'element','form', 'layer'], function(){
        var laypage = layui.laypage;
        var element = layui.element;
        var form = layui.form;
        var laydate = layui.laydate;


        laypage.render({
            elem: 'demo7'
            ,count: 70 //数据总数，从服务端得到
            ,jump: function(obj, first){
                //obj包含了当前分页的所有参数，比如：
                console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
                console.log(obj.limit); //得到每页显示的条数

                //首次不执行
                if(!first){
                    //do something
                }
            }
        });

        // 重置按钮
        $('.layui-form').on('click', '.form-btn-reset', function () {
            $(this).closest('.layui-form').find('button[type="reset"]').trigger('click');
        });

        // 全选
        form.on('checkbox(allChoose)', function(data){
            var checkAll = data.elem.checked;
            $('#form-list').find('input[type="checkbox"]').each(function () {
                this.checked = checkAll;
                checkAll && ($(this).closest('tr').addClass('active')) || ($(this).closest('tr').removeClass('active'))
            });
            form.render('checkbox');
        });
        $('#form-list tr').on('click', '.layui-form-checkbox', function () {
            var $checkbox = $(this).siblings('input[type="checkbox"]')[0];
            if($checkbox.checked) {
                $(this).closest('tr').addClass('active');
            } else {
                $(this).closest('tr').removeClass('active');
                document.getElementById('allChoose').checked = false;
            }
            form.render('checkbox');
        });
        // 高级查询
        $('.layui-form-panel').on('click', '.form-btn-query-more', function () {
            $('.layer-query-more').slideToggle();
        })

        //入党时间开始范围
        laydate.render({
            elem: '#start' //指定元素
        });
        //入党时间结束范围
        laydate.render({
            elem: '#end' //指定元素
        });
        // 新增
        $('.layui-form-panel').on('click', '.form-btn-add', function () {
            layer.open({
                type: 2,
                title: '党员信息表',
                shadeClose: true,
                shade: 0.8,
                area: ['80%', '90%'],
                content: 'form_add.html', //iframe的url
                scrollbar: false
            });
        })
        // 编辑
        $('#form-list tr').on('click', '.form-btn-edit', function () {
            layer.open({
                type: 2,
                title: '党员信息表',
                shadeClose: true,
                shade: 0.8,
                area: ['80%', '90%'],
                content: 'form_edit.html', //iframe的url
                scrollbar: false
            });
        })
        // 查看
        $('#form-list tr').on('click', '.form-btn-view', function () {
            layer.open({
                type: 2,
                title: '党员信息表',
                shadeClose: true,
                shade: 0.8,
                area: ['80%', '90%'],
                content: 'form_view.html', //iframe的url
                scrollbar: false
            });
        })

        //ztree配置
        var setting = {
            check: {
                enable: true//checkbox
            },
            view: {
                nameIsHTML: true, //允许name支持html
                selectedMulti: false
            },
            edit: {
                enable: false,
                editNameSelectAll: false
            },
            data: {
                simpleData: {
                    enable: true
                }
            },
            callback: {
                // beforeExpand: beforeExpand,
                // onExpand: onExpand,
                onClick: zTreeOnClick
            }
        };

        $(function () {
            //从服务器读取数据并初始化树形图
            //loadDataFromServer(urlStr);
            //本例直接从模拟数据dataset.js读取
            loadDataFromLocal();//从本地dataset.js文件读取模拟数据并初始化树形图
        })

        /**
         * 通过ajax方法从服务器获取数据并初始化树形图
         */
        function loadDataFromServer(urlStr){
            $.ajax({
                type: "get",
                dataType: "json",
                url: urlStr,  //服务请求地址
                success: function(data) {
                    initThisZtree(data);//传入数据,初始化ztree
                    fuzzySearch('treeDemo','#layui-input-tree',null,true); //初始化模糊搜索方法
                }
            });
        }

        /**
         * 从本地js/dataset.js文件读取模拟数据并初始化树形图
         */
        function loadDataFromLocal(){
            //此处的树节点数据mockData是在本地js/dataSet.js中预先定义的模拟数据
            initThisZtree(mockData);//传入数据,初始化ztree
            // zTreeId ztree对象的id,不需要#
            // searchField 输入框选择器
            // isHighLight 是否高亮,默认高亮,传入false禁用
            // isExpand 是否展开,默认合拢,传入true展开
            fuzzySearch('treeDemo','#layui-input-tree',null,true); //初始化模糊搜索方法
        }

        /**
         * 初始化ztree
         *
         * @param {Object} data
         */
        function initThisZtree(data){
            //初始化ztree三个参数分别是(jQuery对象,ztree设置,树节点数据)
            var treeObj = $.fn.zTree.init($("#treeDemo"), setting, data);
            treeObj.expandAll(true);
        }

        /**
         * @param event
         * @param treeId
         * @param treeNode
         */
        function zTreeOnClick(event, treeId, treeNode) {
            //这里定义点击书中节点时，相应的页面其他的操作，示例：
            // 每次点击节点后， 弹出该节点的 tId、name 的信息
            layer.msg(treeNode.tId + ", " + treeNode.name);
        };


        // 树折叠
        $('.layui-tree-divider').on('click', function () {
            if($(this).hasClass('layui-panel-hide')) {
                $(this).removeClass('layui-panel-hide');
                $(this).siblings('.layui-tree-panel').removeClass('layui-panel-hide');
                $(this).siblings('.layui-content-panel').removeClass('layui-panel-hide');
            } else {
                $(this).addClass('layui-panel-hide');
                $(this).siblings('.layui-tree-panel').addClass('layui-panel-hide');
                $(this).siblings('.layui-content-panel').addClass('layui-panel-hide');
            }
        });

    });




</script>
</body>
</html>
